<template>
    <div>
        <PageHeader page-titile="Coupon Create" page-sub-title="You can add your coupon code here." />
        <div class="container-fluid mt-n10">
        <div class="pages-contents">
        <form>
            <div class="row">
                <div class="col-lg-12 col-md-8 mb-4">
                    <!-- Settings -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 h4 font-weight-bold text-black">Coupon</h6>
                        </div>
                       <div class="card-body">
                           <div class="form-row">
                               <div class="col-md-4">
                                   <label>Coupon Code</label>
                                   <input type="text" v-model="coupon.coupon_code" class="form-control"/>
                               </div>
                               <div class="col-md-4">
                                   <label>Coupon Percentage</label>
                                    <div class="input-group mb-3">
                                    <input type="number" v-model="coupon.coupon_percentage" class="form-control" aria-label="">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                    </div>
                               </div>
                               <div class="col-md-4">
                                   <label>Expiration Date</label>
                                   <date-picker v-model="coupon.expiration_date" format="DD-MM-YYYY"></date-picker>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
</template>

<script>

    import PageHeader from '../../../layouts/PageHeader';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    export default {
        name: "CouponCreate",
        components: {
            PageHeader,
            DatePicker,
        },
        data(){
            return{
               coupon:{
                   coupon_code:'',
                   coupon_percentage:'',
                   expiration_date:'',
               } 
            }
        },
        methods:{
            
        },
        created() {
            
        }
    }
</script>

<style scoped>

</style>
