<template>
  <f7-page name="login" class="bg-white loginPage">
    <f7-navbar class="t-black introNav">
      <!-- <f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title></f7-nav-title>
      <f7-nav-right></f7-nav-right>-->
    </f7-navbar>
    <f7-block class="m-0 from-content text-align-center">
      <i class="cheesecake-login-logo"></i>
      <h1 class="mb-0">Login In Now</h1>
      <p class="m-0">Please login to continue your order</p>
      <p v-if="loginError" class="text-red">{{ loginError }}</p>
    </f7-block>
    <f7-block class="m-0 common-from">
      <form @submit.prevent="login">
        <f7-list no-hairlines-md class="m-0">
          <f7-list-input
            class="is-valid"
            outline
            label="E-mail"
            floating-label
            type="email"
            placeholder="Your e-mail"
            :value="credentials.email"
            @input="credentials.email=$event.target.value"
            clear-button
          >
            <span
              slot="info"
              class="text-red"
              v-if="loginValidationErrors.email"
            >{{ loginValidationErrors.email[0] }}</span>
          </f7-list-input>
          <f7-list-input
            class="mb-1"
            outline
            label="Password"
            floating-label
            type="password"
            placeholder="Your password"
            clear-button
            :value="credentials.password"
            @input="credentials.password=$event.target.value"
          >
            <span
              slot="info"
              class="text-red"
              v-if="loginValidationErrors.password"
            >{{ loginValidationErrors.password[0] }}</span>
            <f7-link href="/forgot/" slot="info" class="text-align-right">Forgot Password ?</f7-link>
          </f7-list-input>
          <button class="button button-large button-fill btn-theme">Log In</button>
        </f7-list>
      </form>
      <p class="text-align-center text-color-gray fw-3">
        Don’t have an account ?
        <f7-link href="/registration/">Sign Up</f7-link>
      </p>
      <!-- <p class="text-align-center signin-social text-color-gray">
        <span class="bg-white">Sign in with social account</span>
      </p>
      <p class="row">
        <button class="col button button-large button-fill btn-facebook">Facebook</button>
        <button class="col button button-large button-fill btn-google">Google</button>
      </p>-->
    </f7-block>
  </f7-page>
</template>
<script>
export default {
  name: "login-page",
  data: function () {
    return {
      credentials: {
        email: "",
        password: "",
        user_type: "customer",
      },
    };
  },
  methods: {
    login() {
      this.$f7.dialog.preloader("Authenticating, please wait...");
      this.$store
        .dispatch("login", this.credentials)
        .then((response) => {
          this.$f7router.navigate("/home", {
            clearPreviousHistory: true,
          });
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.$f7.dialog.close();
        });
    },
  },
  computed: {
    loginValidationErrors() {
      return this.$store.getters.loginValidationErrors;
    },
    loginError() {
      return this.$store.getters.loginError;
    },
  },
};
</script>
<style scoped>
.text-red {
  color: red;
}
</style>

