<template>
  <f7-page name="registration" class="bg-white registrationPage">
    <f7-navbar class="t-black introNav">
      <f7-nav-left>
        <f7-link href="#" class="back">
          <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-left>
      <f7-nav-title></f7-nav-title>
      <f7-nav-right></f7-nav-right>
    </f7-navbar>
    <f7-block class="m-0 from-content text-align-center">
      <i class="cheesecake-login-logo"></i>
      <h1 class="mb-0">Sign Up Now</h1>
      <p class="m-0">Please fill the details and create account</p>
    </f7-block>
    <form @submit.prevent="register">
      <f7-block class="m-0 common-from">
        <div class="row">
          <div class="col">
            <f7-list no-hairlines-md class="m-0">
              <f7-list-input
                class="mt-1"
                outline
                label="First Name"
                floating-label
                type="text"
                placeholder="First name"
                :value="user.first_name"
                @input="user.first_name=$event.target.value"
                clear-button
              >
                <span
                  slot="info"
                  class="text-red"
                  v-if="registrationValidationErrors.first_name"
                >{{ registrationValidationErrors.first_name[0] }}</span>
              </f7-list-input>
            </f7-list>
          </div>
          <div class="col">
            <f7-list no-hairlines-md class="m-0">
              <f7-list-input
                class="mt-1"
                outline
                label="Last Name"
                floating-label
                type="text"
                placeholder="Last name"
                :value="user.last_name"
                @input="user.last_name=$event.target.value"
                clear-button
              >
                <span
                  slot="info"
                  class="text-red"
                  v-if="registrationValidationErrors.last_name"
                >{{ registrationValidationErrors.last_name[0] }}</span>
              </f7-list-input>
            </f7-list>
          </div>
        </div>
        <f7-list no-hairlines-md class="m-0">
          <f7-list-input
                  outline
                  label="Phone Number"
                  floating-label
                  type="text"
                  placeholder="Your phone number"
                  :value="user.phone"
                  @input="user.phone=$event.target.value"
                  clear-button
          >
            <span
                    slot="info"
                    class="text-red"
                    v-if="registrationValidationErrors.phone"
            >{{ registrationValidationErrors.phone[0] }}</span>
          </f7-list-input>
        </f7-list>
        <f7-list no-hairlines-md class="m-0">
          <f7-list-input
            outline
            label="E-mail"
            floating-label
            type="email"
            placeholder="Your e-mail"
            :value="user.email"
            @input="user.email=$event.target.value"
            clear-button
          >
            <span
              slot="info"
              class="text-red"
              v-if="registrationValidationErrors.email"
            >{{ registrationValidationErrors.email[0] }}</span>
          </f7-list-input>
          <f7-list-input
            class="mb-1"
            outline
            label="Password"
            floating-label
            type="password"
            placeholder="Your password"
            :value="user.password"
            @input="user.password=$event.target.value"
            clear-button
          >
            <span
              slot="info"
              class="text-red"
              v-if="registrationValidationErrors.password"
            >{{ registrationValidationErrors.password[0] }}</span>
          </f7-list-input>
          <button class="button button-large button-fill btn-theme">Sign Up</button>
        </f7-list>
        <p class="text-align-center text-color-gray fw-3">
          Already have an account ?
          <f7-link href="/">Sign In</f7-link>
        </p>
      </f7-block>
    </form>
  </f7-page>
</template>
<script>
export default {
  data: function () {
    return {
      user: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        password: "",
        user_type: "customer",
      },
    };
  },
  methods: {
    register() {
      this.$f7.dialog.preloader("Registering, please wait");
      this.$store
        .dispatch("register", this.user)
        .then((response) => {
          this.$f7router.navigate("/home", {
            clearPreviousHistory: true,
          });
        })
        .catch((error) => {
          this.$f7.dialog.alert("Something went wrong");
          console.log(error);
        })
        .finally(() => {
          this.$f7.dialog.close();
        });
    },
  },
  created() {},
  computed: {
    registrationValidationErrors() {
      return this.$store.getters.registrationValidationErrors;
    },
  },
};
</script>
<style scoped>
.text-red {
  color: red;
}
</style>
