<template>
  <f7-page name="userprofile" class="bg-white userprofilePage increase-pageContent">

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
      <f7-link href="/">
        <f7-icon f7="house" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/contact-us/">
        <f7-icon f7="placemark" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/product-list/" class="product-list-page">
        <span class="icon-product">
          <f7-icon class="cooking-hat hat-icon"></f7-icon>
        </span>
      </f7-link>
      <f7-link href="/">
        <f7-icon f7="phone" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/userprofile/">
        <f7-icon f7="person" size="24px"></f7-icon>
      </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
      <div class="userPanel t-white">
        <f7-row>
          <f7-col width="40">
            <h2 class="m-0">
              User
              <small class="fw-3">Profile</small>
            </h2>
          </f7-col>
          <f7-col width="20">
            <span class="userLogout">
              <f7-button raised fill color="red" class="btn-logout" @click="logOut">
                <f7-icon f7="power" size="22px"></f7-icon>
              </f7-button>
            </span>
          </f7-col>
          <f7-col width="40">
            <f7-button href="/profileupdate/" outline small round class="btn-edit">Edit</f7-button>
          </f7-col>
        </f7-row>
      </div>
    </f7-block>

    <f7-block strong inset class="box-shadow">
      <f7-block-header>User Information</f7-block-header>
      <f7-list class="mt-0 mb-1 list-gap-0">
        <f7-list-item :title="loggedInUser.first_name+' '+loggedInUser.last_name">
          <f7-icon slot="media" f7="person" size="22"></f7-icon>
        </f7-list-item>
        <f7-list-item :title="loggedInUser.phone">
          <f7-icon slot="media" f7="phone" size="22"></f7-icon>
        </f7-list-item>
        <f7-list-item :title="loggedInUser.email">
          <f7-icon slot="media" f7="envelope_open" size="22"></f7-icon>
        </f7-list-item>
      </f7-list>
      <f7-block-header>User Settings</f7-block-header>
      <f7-list class="m-0 list-gap-0">
        <f7-list-item link="/privacy-policy/" title="Privacy policy">
          <f7-icon slot="media" f7="shield" size="22"></f7-icon>
        </f7-list-item>
        <f7-list-item link="/trams-conditions/" title="Trams & Conditions">
          <f7-icon slot="media" f7="doc_plaintext" size="22"></f7-icon>
        </f7-list-item>
        <f7-list-item link="/profileupdate/" title="Edit Profile">
          <f7-icon slot="media" f7="square_pencil" size="22"></f7-icon>
        </f7-list-item>
        <f7-list-item link="#" title="Log Out" @click="logOut">
          <f7-icon slot="media" f7="power" size="22"></f7-icon>
        </f7-list-item>
      </f7-list>
    </f7-block>
  </f7-page>
</template>
<script>
export default {
  data: function() {
    return {};
  },
  methods: {
    logOut() {
      this.$f7.dialog.preloader("Loggin Out, Please wait ...");
      this.$store
        .dispatch("logOut")
        .then(response => {
          this.$f7router.navigate("/login", {
            clearPreviousHistory: true
          });
        })
        .catch(error => {
          this.$f7.dialog.alert("Something went wrong");
        }).finally(()=>{
          this.$f7.dialog.close();
      });
    }
  },
  created() {
    console.log('created');
  },
  computed: {
    loggedInUser() {
      return this.$store.getters.loggedInUser;
    }
  }
};
</script>
<style>
</style>
