<template>
<f7-page name="profileupdate" class="bg-white profileupdatePage increase-pageContent">
    <f7-navbar class="t-black navbar-increase">
        <f7-nav-left>
            <f7-link href="#" class="back">
                <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
            </f7-link>
        </f7-nav-left>
        <f7-nav-title>
            <f7-link link="/" class="cheesecake-logo">
                <i class="cheesecake-nav-logo"></i>
            </f7-link>
        </f7-nav-title>
        <f7-nav-right>
            <f7-link sheet-open=".product-cart-sheet">
                <span class="cart-badge">12</span>
                <f7-icon f7="cart" size="26px" color="black"></f7-icon>
            </f7-link>
        </f7-nav-right>
    </f7-navbar>

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page">
            <span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span>
        </f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                Update Profile
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="doc_text" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>

    <f7-block strong inset class="box-shadow">
        <f7-block-header>Update your Information</f7-block-header>
        <form @submit.prevent="updateProfile">
            <div class="m-0 profile-edit">
                <f7-row>
                    <f7-col width="50">
                        <f7-list no-hairlines-md class="m-0 list-gap">
                            <f7-list-input label="First Name" type="text" :value="loggedInUser.first_name" @input="loggedInUser.first_name=$event.target.value" clear-button></f7-list-input>
                        </f7-list>
                    </f7-col>
                    <f7-col width="50">
                        <f7-list no-hairlines-md class="m-0 list-gap">
                            <f7-list-input label="Last Name" type="text" :value="loggedInUser.last_name" @input="loggedInUser.last_name=$event.target.value" clear-button></f7-list-input>
                        </f7-list>
                    </f7-col>
                </f7-row>
                <f7-list no-hairlines-md class="m-0 list-gap">
                    <f7-list-input label="Email" type="text" :value="loggedInUser.email" @input="loggedInUser.email=$event.target.value" readonly></f7-list-input>
                    <f7-list-input label="Phone" type="number" :value="loggedInUser.phone" @input="loggedInUser.phone=$event.target.value" clear-button></f7-list-input>

                    <f7-list-input label="Gender" type="select" defaultValue="Male" placeholder="Please choose...">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </f7-list-input>

                    <f7-list-input label="Address" type="text" :value="loggedInUser.address" @input="loggedInUser.address=$event.target.value" clear-button></f7-list-input>

                    <f7-list-input label="Change Password" type="password" placeholder="Your password" :value="loggedInUser.password" @input="loggedInUser.password=$event.target.value" clear-button></f7-list-input>
                </f7-list>
                <f7-row tag="div" class="mt-1">
                    <f7-col tag="span">
                        <f7-button type="submit" raised fill large round class="btn-theme">Update</f7-button>
                    </f7-col>
                    <f7-col tag="span"></f7-col>
                </f7-row>
            </div>
        </form>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    data: function () {
        return {};
    },
    methods: {
        updateProfile() {
            this.$f7.dialog.preloader("Updating, please wait...");
            app.axios
                .put('users/' + this.loggedInUser.user_id, this.loggedInUser)
                .then(response => {
                    this.$store.commit('UPDATE_PROFILE', response.data);
                    this.$f7.dialog.create({
                        title: 'Cheesecake',
                        text: 'Profile has been updated successfully',
                        buttons: [{
                            text: 'GO TO PROFILE',
                            onClick: () => {
                                this.$f7router.navigate("/userprofile/", {
                                    clearPreviousHistory: true,
                                });
                            }
                        }]
                    }).open();
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        let errors = error.response.data.errors;
                        let errorMessage = "";
                        Object.keys(errors).forEach((key, i) => {
                            if (typeof errors[key][0] !== "undefined") {
                                errorMessage += "<p>" + errors[key][0] + "</p>";
                            }
                        });
                        this.$f7.dialog.alert(errorMessage);
                    } else {
                        this.$f7.dialog.alert(error.response.data.message);
                    }
                })
                .finally(() => {
                    this.$f7.dialog.close();
                });
        }
    },
    created() {},
    computed: {
        loggedInUser() {
            return this.$store.getters.loggedInUser;
        }
    }
};
</script>

<style>
</style>
