<template>
  <div>
    <PageHeader page-titile="Registered Users" page-sub-title="List of registered users." />
    <div class="container-fluid mt-n10">
      <!-- Content Row -->
      <div class="pages-contents">
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="card mb-4">
              <div class="card-header h4">
                <div class="d-sm-flex align-items-center justify-content-between">
                  <h1 class="h4 mb-0 font-weight-bold text-black">All Users</h1>
                </div>
              </div>
              <div class="card-body">
                <div class="on-delivery">
                  <div class="form-row">
                    <div class="form-group col-md-9">
                      <label class="h5 mt-1">
                        Total Users:
                        <strong>{{ users.length }}</strong>
                      </label>
                    </div>
                    <!-- <div class="form-group col-md-3">
                      <select class="form-control" @change="loadProducts($event.target.value)">
                        <option hidden>Filter by product type</option>
                        <option value="all">All</option>
                        <option value="whole">Whole Cheesecake</option>
                        <option value="cup">Cheesecake Cupcake</option>
                      </select>
                    </div> -->
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table table-bordered table-hover"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th width="5%">Id</th>
                          <th width="10%">First Name</th>
                          <th width="10%">Last Name</th>
                          <th width="15%">Email</th>
                          <th width="5%">City</th>
                          <th width="20%">Address</th>
                          <th width="10%">Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-if="userLoading">
                          <td colspan="6" align="center">
                            <div class="spinner-border text-success" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </td>
                        </tr>
                        <tr v-for="(user,index) in users" :key="index">
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.city }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from "../../layouts/PageHeader";

export default {
  name: "UserList",
  components: {
    PageHeader
  },
  data(){
      return{
          userLoading:false,
          users:[],
      }
  },
  created(){
      this.loadUsers();
  },
  methods:{
      loadUsers(){
          this.userLoading=true;
        axios
        .get("/api/v1/users")
        .then(response=>{
            this.userLoading=false;
            this.users=response.data.users;
        })
        .catch(error=>{
            this.userLoading=false;
            console.log(error);
        });
      }
  }
};
</script>

<style scoped>
</style>
