<template>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-sm my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <img src="images/cheesecake-logo.svg" height="90" alt />
                  <h1 class="h4 text-gray-900 my-3">Welcome Back!</h1>
                </div>
                <div
                  class="alert alert-danger"
                  v-if="authenticationError"
                  role="alert"
                >{{ authenticationError }}</div>
                <form class="user" @submit.prevent="authenticateUser">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Enter Email Address..."
                      v-model="user.email"
                      v-bind:class="{'is-invalid':validationErrors.email}"
                    />
                    <small
                      class="text-danger"
                      v-if="validationErrors.email"
                    >{{ validationErrors.email[0] }}</small>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      placeholder="Password"
                      v-model="user.password"
                      v-bind:class="{'is-invalid':validationErrors.password}"
                    />
                    <small
                      class="text-danger"
                      v-if="validationErrors.password"
                    >{{ validationErrors.password[0] }}</small>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" />
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-theme btn-user btn-block">Login</button>
                </form>
                <hr />
                <!-- <div class="text-center">
                  <a class="small" href="forgot-password.php">Forgot Password?</a>
                </div>-->
                <div class="text-center">
                  <a class="small" href="/register">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "admin-login",
  data() {
    return {
      user: {
        email: "",
        user_type: "admin",
        password: ""
      },
      validationErrors: [],
      authenticationError: ""
    };
  },
  methods: {
    async authenticateUser() {
      try {
        let authenticatedUser = await axios.post("/api/v1/login", this.user);
        this.$store.commit("LOGIN_SUCCESS", authenticatedUser.data);
        this.$router.push("/");
      } catch (error) {
        this.validationErrors = [];
        this.authenticationError = "";
        if (error.response.status === 422) {
          this.validationErrors = error.response.data.errors;
        } else if (error.response.status === 401) {
          this.authenticationError = error.response.data.message;
        }
      }
    }
  },
  created() {}
};
</script>

<style scoped>
</style>
