<template>
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-sm my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <img alt height="90" src="assets/images/cheesecake-logo.svg" />
                  <h1 class="h4 text-gray-900 my-3">Create an Account!</h1>
                </div>
                <form class="user">
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        class="form-control form-control-user"
                        placeholder="First Name"
                        type="text"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        class="form-control form-control-user"
                        placeholder="Last Name"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control form-control-user"
                      placeholder="Email Address"
                      type="email"
                    />
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        class="form-control form-control-user"
                        placeholder="Password"
                        type="password"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        class="form-control form-control-user"
                        placeholder="Repeat Password"
                        type="password"
                      />
                    </div>
                  </div>
                  <a class="btn btn-theme btn-user btn-block" href="login.php">Register Account</a>
                </form>
                <hr />
                <!-- <div class="text-center">
                                    <a class="small" href="forgot-password.php">Forgot Password?</a>
                </div>-->
                <div class="text-center">
                  <a class="small" href="/login">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "admin-registration"
};
</script>

<style scoped>
</style>
