<template>
    <div>
        <PageHeader page-titile="Business Settings" page-sub-title="You can change your business settings from here." />
        <div class="container-fluid mt-n10">
        <div class="pages-contents">
        <form @submit.prevent="saveBusinessSettings">
            <div class="row">
                <div class="col-lg-9 col-md-8 mb-4">
                    <!-- Settings -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 h4 font-weight-bold text-black">Informations</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Business Days</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Monday - Saturday"
                                        v-model="businessSettings.business_days"
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Closed Day</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Sunday"
                                        v-model="businessSettings.closed_days"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    placeholder="+15014134769"
                                    v-model="businessSettings.phone_number"
                                />
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="9813 W Markham"
                                    v-model="businessSettings.address"
                                />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Little Rock"
                                        v-model="businessSettings.city"
                                    />
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" placeholder="Arkansas 72205">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="United States"
                                        v-model="businessSettings.state"
                                    />
                                </div>

                            </div>
                            <button type="submit" class="btn btn-success">Update Informations</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <!-- Settings -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 h4 font-weight-bold text-black">Follow us</h6>
                        </div>
                        <div class="card-body">
                            <p>Insert your social media links below.</p>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-facebook-f"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="facebook url">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="instagram url">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-twitter"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="twitter url">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-linkedin-in"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="linkedin url">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-google-plus-g"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="google plus url">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-youtube"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="youtube url">
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </form>
    </div>
    </div>
    </div>
</template>

<script>
    import PageHeader from "../../layouts/PageHeader";
    export default {
        name: "BusinessSettings",
        components: {
            PageHeader,
        },
        data(){
            return{
                businessSettings:{
                    'business_days':'',
                    'closed_days':'',
                    'phone_number':'',
                    'address':'',
                    'city':'',
                    'zip':'',
                    'state':'',
                    'facebook_url':'',
                    'instagram_url':'',
                    'twitter_url':'',
                    'linkedin_url':'',
                    'googleplus_url':'',
                    'youtube_url':''
                }
            }
        },
        methods:{
            saveBusinessSettings(){
                this.$toasted.show('Saving, Please wait.......');
                axios
                    .post('/api/v1/set-business-settings',this.businessSettings)
                    .then(response=>{
                        this.$toasted.show('Business settings saved successfully');
                        console.log(response);
                    })
                    .catch(error=>{
                        console.log(error);
                    });
            }
        },
        created() {
            axios
                .get('/api/v1/business-settings')
                .then(response=>{
                    this.businessSettings={...this.businessSettings,...response.data};
                })
                .catch(error=>{
                    console.log(error);
                });
        }
    }
</script>

<style scoped>

</style>
