/*------[Master Stylesheet]----- *//*

 - Creator: S.M. Momin
 - Start DATE: Friday, April 10, 2020.
 - App Name: Cheesecake Admin Panel.
 
/*---------
import CSS ---------------------- */

.bg-login{
	background-color:#f8f8f8;
}

.btn-theme {
	color: #fff;
	background-color: #8e6343;
	border-color: #8e6343;
}

.btn-theme:hover {
	color: #fff;
	background-color: #562c04;
	border-color: #562c04;
}

.btn-theme:focus, .btn-theme.focus {
	box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-theme.disabled, .btn-theme:disabled {
	color: #fff;
	background-color: #8e6343;
	border-color: #8e6343;
}

.btn-theme:not(:disabled):not(.disabled):active, .btn-theme:not(:disabled):not(.disabled).active,
.show > .btn-theme.dropdown-toggle {
	color: #fff;
	background-color: #562c04;
	border-color: #562c04;
}

.btn-theme:not(:disabled):not(.disabled):active:focus, .btn-theme:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.text-black{
	color:#000000;
}
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
}
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details {
    font-weight: 400;
}
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-name,
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-email{
	max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-name {
    color: #1f2d41;
    font-weight: 500;
    font-size: 0.9rem;
}
.dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-email {
    color: #687281;
    font-size: 0.75rem;
}

.sidebar-dark .sidebar-brand{
	background-color: #f8f8f8;
}

/*.accordion .sidebar-brand-icon{
	display:none;
}
*/
@media screen and (min-width: 768px) {
	.accordion .sidebar-brand-icon{
		display:none;
	}
}
.accordion.toggled .sidebar-brand-icon{
	display:block;
}

.bg-gradient-primary-to-secondary {
	background: #562c04;
	background: -moz-linear-gradient(left, #562c04 0%, #8e6343 100%);
	background: -webkit-linear-gradient(left, #562c04 0%,#8e6343 100%);
	background: linear-gradient(to right, #562c04 0%,#8e6343 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#562c04', endColorstr='#8e6343',GradientType=1 );
}
.pb-10,
.py-10 {
    padding-bottom: 4rem !important;
}
.page-header .page-header-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-header.page-header-dark .page-header-subtitle {
    color: rgba(255, 255, 255, 0.5);
}

.mt-n10,
.my-n10 {
    margin-top: -4rem !important;
}

.accordion span.badge.badge-danger.badge-pill {
    position: absolute;
    right: 15px;
}


/* Delivery */
.pickup-or-delivery .card-body{
	padding: 0.6rem 1rem;
	font-size:14px;
}
.pickup-or-delivery .card-footer {
    padding: 0.2rem 1rem;
    background-color: rgba(31,45,65,.1);
    border-top: 1px solid rgba(31,45,65,.125);
}



/********************* Shopping Demo-6 **********************/
.product-grid .product-image{
	overflow:hidden;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.product-grid{
	overflow:hidden;
	text-align:center;
	position:relative;
	border: 1px solid #ddd;
	transition:all .5s ease 0s;
	padding: 6px;
    border-radius: 6px;
}
.product-grid:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid .product-image img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid:hover .product-image img{transform:scale(1.1)}
.product-grid .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid:hover .product-content{opacity:0}
.product-grid .title{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color:#000;
	font-size:20px;
	font-weight:600;
	margin:0 0 10px;
	transition:all .3s ease 0s
}
.product-grid .price{font-size:18px;font-weight:600;color:#687281}
.product-grid .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid .actionBtn{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid:hover .actionBtn{opacity:1;bottom:20px}
.product-grid .actionBtn li{display:inline-block}
.product-grid .actionBtn li a{color:#8e6343;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #8e6343;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .actionBtn li a:hover{color:#fff;background-color:#8e6343;width:80px}
.product-grid .actionBtn li a:after,.product-grid .actionBtn li a:before{content:attr(data-tip);color:#fff;background-color:#8e6343;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .actionBtn li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .actionBtn li a:hover:after,.product-grid .actionBtn li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}