<template>
<f7-page name="orderList" class="bg-white orderlistPage increase-pageContent">


    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page"><span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span></f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                Order List
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="bag" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>

    <f7-block-title class="text-align-center f-18">Your Orders</f7-block-title>
    <f7-block strong inset class="box-shadow">
        <f7-list media-list class="order-list m-0">
            <!-- Loop If more order -->
            <f7-list-item v-for="(order,index) in orders" :key="index" :title="`Order No# ${order.id}`" :badge="order.order_status" badge-color="green">
                <div slot="subtitle" class="mt-1 d-block">
                    <div class="display-flex justify-content-space-between align-items-center mt-1 br-4">
                        <div class="f-16">
                            <b v-if="order.pickup_date">Pickup Date:</b>
                            <b v-if="order.delivery_date">Delivery Date:</b>
                        </div>
                        <div v-if="order.pickup_date" class="f-12">
                            {{ order.pickup_date }}
                        </div>
                        <div v-if="order.delivery_date" class="f-12">
                            {{ order.delivery_date }}
                        </div>
                    </div>
                </div>
                <div slot="footer" class="mt-1">
                    <f7-button :href="`/order-details/${order.id}`" large fill color="green">Order Details</f7-button>
                </div>
            </f7-list-item>

            <!-- End Loop -->
            <f7-list-item>
                <f7-block v-if="orders!==null && orders.length===0" strong inset class="empty-cart-alert f-14 my-1 block-title">
                    <b>Sorry</b> No order yet
                </f7-block>
            </f7-list-item>
        </f7-list>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    name: 'order-list',
    data() {
        return {
            orders: null,
            emptyOrderMessage: false,
        }
    },
    methods: {
        loadOrderListByCustomerId() {
            this.$f7.dialog.preloader("Loading orders, please wait...");
            app.axios
                .get('orders/order-list-by-customers')
                .then(response => {
                    this.orders = response.data;
                    this.$store.commit('SET_ORDER',this.orders);
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.$f7.dialog.close();
                });
        }
    },
    created() {
        this.loadOrderListByCustomerId();
    },
}
</script>

<style>

</style>
