<template>
  	<f7-page name="orderList" class="bg-white orderDetailsPage increase-pageContent">

		
		<!-- Bottom Toolbar-->
		<f7-toolbar bottom class="bottom-menu">
		  <f7-link href="/"><f7-icon f7="house" size="24px"></f7-icon></f7-link>
		  <f7-link href="/contact-us/"><f7-icon f7="placemark" size="24px"></f7-icon></f7-link>
		  <f7-link href="/product-list/" class="product-list-page"><span class="icon-product"><f7-icon class="cooking-hat hat-icon"></f7-icon></span></f7-link>
		  <f7-link href="/"><f7-icon f7="phone" size="24px"></f7-icon></f7-link>
		  <f7-link href="/userprofile/"><f7-icon f7="person" size="24px"></f7-icon></f7-link>
		</f7-toolbar>

    	<f7-block class="m-0 title-block drak-theme-bg">
      		<f7-row tag="div">
				<f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
            		Order Details
				</f7-col>
			</f7-row>
			<div class="titlePanel t-white">
				<f7-row>
					<f7-col width="20">
						<span class="commontitle">
							<f7-icon f7="bag" class="page-icon f-18"></f7-icon>
						</span>
					</f7-col>
				</f7-row>
			</div>
		</f7-block>

		<f7-block-title class="text-align-center f-18">
			<div class="display-flex justify-content-space-between align-items-center">
				<div class="f-18">Order No: #{{ order.id }}</div>
				<div class="f-18">
					<f7-chip :text="order.order_status" color="orange"></f7-chip>
				</div>
			</div>
		</f7-block-title>
		<f7-block strong inset class="box-shadow">
			<f7-list media-list class="order-list m-0">
				<f7-list-item
					v-for="(od,index) in order.order_details"
					:key="index"
					:title=od.product_name.product_name
					:badge=od.price|currencyFormat
					badge-color="green"
				>
					<span slot="subtitle" class="my-1 d-block">
						Whole cheesecake
					</span>
					<div slot="footer">
						<f7-chip text="Mango Flavor" media-bg-color="red" media="1"></f7-chip>
					</div>
				</f7-list-item>
<!--				<f7-list-item-->
<!--					title="Red Cup Cheesecake"-->
<!--					badge="$10.00"-->
<!--					badge-color="green"-->
<!--				>-->
<!--					<span slot="subtitle" class="my-1 d-block">-->
<!--						Cup Cake-->
<!--					</span>-->
<!--					<div slot="footer">-->
<!--						<f7-chip text="Flavor One" media-bg-color="red" media="4"></f7-chip>-->
<!--						<f7-chip text="Flavor two" media-bg-color="red" media="1"></f7-chip>-->
<!--					</div>-->
<!--				</f7-list-item>-->
			</f7-list>
		</f7-block>
		<f7-block-title class="mt-2">Pickup or Delivery Address</f7-block-title>
		<f7-block strong inset class="box-shadow">
			<address>
				<strong>Address text here</strong><br>
				P.O. Box 1355<br>
				City name, Country name<br>
				<b>Phone</b> +000-000-0000
			</address>
		</f7-block>
		<f7-block-title class="mt-2">Your Bill</f7-block-title>
		<f7-block strong inset class="box-shadow">
			<div class="display-flex justify-content-space-between align-items-center">
				<div class="f-18">Subtotal</div>
				<div class="f-18">
					<b>$10.00</b>
				</div>
			</div>
			<div class="display-flex justify-content-space-between align-items-center text-color-gray">
				<div class="f-12">Discount</div>
				<div class="f-12">
					<b>- $10.00</b>
				</div>
			</div>
			<div class="display-flex justify-content-space-between align-items-center text-color-gray">
				<div class="f-12">Tax</div>
				<div class="f-12">
					<b>0.00</b>
				</div>
			</div>
			<div class="display-flex justify-content-space-between align-items-center text-color-gray">
				<div class="f-12">Delivery charge</div>
				<div class="f-12">
					<b>+ $10.00</b>
				</div>
			</div>
			<hr />
			<div class="display-flex justify-content-space-between align-items-center popup-total">
				<div class="f-22">Total</div>
				<div class="f-22">
					<b>$10.00</b>
				</div>
			</div>
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
    	name:'order-details',
        data: function () {
            return {
				order:null,
            }
        },
        methods: {

        },
        created() {
			this.order=this.$store.getters.getOrderDetails(this.$f7route.params.orderId);
        },
    }
</script>
<style>

</style>