
/* Information Color Theme */
/*
	- Main Background	: #FFFFFF
	- Text Color		: #000000
	- Theme Background	: #8e582c
	- Dark Background	: #592b05
	- link color		: #bd4c00
*/

/* Font Family import */

@import url('fonts/font-face.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

/* End Font Family import */

html,
body,
.popupCart .discount-price{
	font-family: 'Roboto', sans-serif;
}
a{
  color: #bd4c00;
}
a:hover,
a:active{
  text-decoration: none;
}
address{
	font-style: normal;
}
/* Common Margin example */

.m-0{margin:0}
.mt-0,
.my-0{margin-top:0}
.mb-0,
.my-0{margin-bottom:0}
.ml-0,
.my-0{margin-left:0}
.mr-0,
.my-0{margin-right:0}
.m-1{margin:10px}
.m-2{margin:20px}
.m-3{margin:30px}
.m-4{margin:40px}
.mt-1,
.my-1{margin-top:10px}
.mb-1,
.my-1,
.popupCart .block-footer{margin-bottom:10px}
.mt-2,
.my-2{margin-top:20px}
.mb-2,
.my-2{margin-bottom:20px}
.mt-3,
.my-3{margin-top:30px}
.mb-3,
.my-3{margin-bottom:30px}

/* End Common Margin example */

/* Common Padding example */
.d-block{display: block;}
.p-0{padding:0}
.pt-0,
.py-0{padding-top:0}
.pb-0,
.py-0{padding-bottom:0}
.pl-0,
.py-0{padding-left:0}
.pr-0,
.py-0{padding-right:0}
.p-1{padding:10px}
.p-2{padding:20px}
.p-3{padding:30px}
.p-4{padding:40px}
.pt-1,
.py-1,
.popupCart .block-footer,
.popupCart .box-shadow>a{padding-top:10px}
.pb-1,
.py-1{padding-bottom:10px}
.pt-2,
.py-2{padding-top:20px}
.pb-2,
.py-2{padding-bottom:20px}

/* End Common Padding example */

/* Common Styles */
.br-4{border-radius: 6px;}
.br-6{border-radius: 8px;}
hr{border: 0.8px solid rgba(0,0,0,0.2);}
.bottom-price b,
.from-content h1,
.popupCart .popup-total,
.welcomeSilde .introSlide h1,
.flavors-section .flavors-title{
	font-family: 'AvantGardeLT-Medium';
}
.fw-3,
.copy-right,
.signin-social,
.text-color-gray,
.userPanel .btn-edit,
.welcomeSilde .introSlide p,
.busingss-hours .block-title,
.busingss-hours .block-footer,
.busingss-hours .item-inner .item-title,
.userInfo.list .item-content .item-footer{
	font-weight:300;
}
.menuPanel i.icon{
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.ios-translucent-bars .toolbar{
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}
.list ul:after,
.list ul:before,
.navbar-bg:after,
.navbar-bg:before,
.userInfo.list ul,
.toolbar-bottom:after,
.toolbar-bottom:before,
.busingss-hours .list ul,
.sidebar-nave .appMenu ul,
.md .toolbar-bottom-md:after,
.md .toolbar-bottom-md:before,
.ios .toolbar-bottom-ios:after,
.busingss-hours .list ul:after,
.md .tabbar .tab-link-highlight,
.busingss-hours .list ul:before,
.ios .toolbar-bottom-ios:before,
.sidebar-nave .appMenu ul:after,
.sidebar-nave .appMenu ul:before,
.checkout-tab.toolbar-top:before,
.home-content .card-header:after,
.aurora .toolbar-bottom-aurora:after,
.aurora .toolbar-bottom-aurora:before,
.md .tabbar-labels .tab-link-highlight,
.busingss-hours .list .item-inner:after,
.md .checkout-tab.toolbar-top-md:before,
.sidebar-nave .appMenu .item-inner:after,
.ios .checkout-tab.toolbar-top-ios:before,
.all-products .product-box .card-header:after{
    background: transparent;
    background-color: transparent;
}
.f-12,
.copy-right,
.signin-social,
.userPanel h2 small,
.busingss-hours .block-footer,
.popup-pridyct-list .item-text,
.busingss-hours .list li .badge,
.product-details-content .chip,
.popup-pridyct-list .swipeout-content .item-footer .chip,
.popup-pridyct-list .swipeout-content .item-footer .chip .chip-media{
	font-size: 12px;
}
.f-14,
.homeDelivery .item-after>span,
.contact-list .item-inner>span,
.busingss-hours .item-inner .item-title{
	font-size: 14px;
}
.f-16{font-size: 16px;}
.best-sell-box.block .block-header,
.best-sell-box.block .block-footer,
.f-18{font-size: 18px;}
.f-22,
.product-item-slide .swiper-button-prev:after,
.product-item-slide .swiper-button-next:after{font-size: 22px;}
.copy-right{color:#777777;}
.t-white,
.navbar .cart-badge,
.userPanel .btn-edit,
.searchbar-icon:after,
.userPanel .btn-order-list,
.userInfo.list .item-content,
.busingss-hours .block-title,
.busingss-hours .block-footer,
.searchbar input[type="text"],
.ios .input-clear-button:after,
.ios .searchbar-disable-button,
.popupCart .discount-percentage,
.searchbar input[type="search"],
.md .searchbar .input-clear-button,
.md .searchbar-disable-button:after,
.bottom-menu .product-list-page i.icon,
.busingss-hours .item-inner .item-title,
.userInfo.list .item-content .item-footer,
.product-item-slide .swiper-button-prev:after,
.product-item-slide .swiper-button-next:after{
    color:#ffffff;
}
.theme-color,
.photo-browser-page .navbar a,
.photo-browser-page .toolbar a,
.best-sell-box.block .block-header,
.best-sell-box.block .block-footer,
.bottom-menu .toolbar-inner i.icon,
.tab-link-active .icon[class*="color-"],
.best-sell-box .best-sell-content .btn-best-cart i.icon{
	color:#592b05;
}
.producr-price b,
.popup-pridyct-list .item-after,
.common-from .item-input-focused .item-label,
.common-from .item-input-focused .item-floating-label{color:#8e582c;}
.bottom-price small{color:#927762;}
.apply-discount,
.apply-discount i.icon{
	color:#45901c;
}
.text-color-gray,
.popupCart .discount-price,
.product-title .item-header,
.your-package.list .item-header{
	color: rgba(0, 0, 0, 0.4);
}
.bg-theme,
.btn-theme,
.busingss-hours,
.searchbar input[type="text"],
.searchbar input[type="search"],
.your-package .item-after .badge,
.product-btn-part .btn-addto-cart,
.titlePanel .commontitle .page-icon,
.user-flavors-list .item-after .badge,
.welcomeSilde .owl-dots .owl-dot:hover span,
.welcomeSilde .owl-dots .owl-dot.active span,
.payment-list label.item-checkbox > .icon-checkbox,
.product-details-content .product-title .item-after .badge,
.same-delivery-address label.item-checkbox > .icon-checkbox{
	background-color:#8e582c !important;
}
.payment-list label.item-checkbox > .icon-checkbox,
.same-delivery-address label.item-checkbox > .icon-checkbox{
	border-color:#8e582c !important;
}
.subnavbar,
.drak-theme-bg{
	background-color:#592b05 !important;
}
.bg-white,
.homePage,
.navbar-bg,
.copy-right,
.checkout-tab,
.checkout-tab.toolbar,
.introPage .navbar-bg,
.product-filter a.link,
.block-title .star-count,
.best-sell-box .love-item,
.best-sell-box .star-count,
.ios .top-navbar .navbar-bg,
.user-love-section .star-count,
.user-love-list li:nth-child(4),
.ios-translucent-bars .navbar-bg,
.product-item-slide .swiper-pagination-bullet,
.best-sell-box .best-sell-content .btn-best-cart,
.md .toggle input[type="checkbox"]:checked + .toggle-icon:after{
	background-color:#FFFFFF;
}
.badge.color-green,
.button.color-green,
.md .toggle input[type="checkbox"]:checked + .toggle-icon,
.ios .toggle input[type="checkbox"]:checked + .toggle-icon{
	background-color:#4e962a;
}
.bg-light-gray,
.product-details-content .product-title ul{
	background-color:#F8F8F9;
}
.btn-facebook,
.button.btn-facebook.active-state{
	background-color:#3b5998;
}
.btn-google,
.btn-select-love,
.btn-select-love.after-select,
.product-btn-part .btn-options,
.best-sell-box .love-item span,
.button.btn-google.active-state,
.user-love-list li:nth-child(4) span.love-item span{
	background-color:#dc3f1e;
}
.product-item-slide .swiper-button-prev:after,
.product-item-slide .swiper-button-next:after{
	text-shadow: 0 1px 2px #000000;
}
.product-item-slide .swiper-pagination-bullet{opacity: 1;}
.gallery-image img{max-width: 100%;}
.md .list .item-media {min-width: 22px;}
.md .navbar a.link {padding: 0 10px;}
.all-products .product-box .product-btn-part .button{display: inline-block;}
.flavors-dynamic .app-flavors{
	margin-top: 7px;
    height: 40px;
    line-height: 40px;
}
.input-outline.input-focused:after,
.item-input-outline.item-input-focused .item-input-wrap:after{border-color: #8e582c;}
.order-list ul li.media-item{margin-bottom: 10px;}
.order-list ul li.media-item:last-child{margin-bottom: 0;}