/*
	- Author: S. M. Momin
	- Start DATE: Sunday, March 29, 2020.
	- Project Name: Cheese Cake on Point App.
*/

/* Common Style */

.note-found,
.cooking-hat,
.welcome-icon,
.cup-cake-icon,
.cheesecake-icon,
.bottom-price small,
.cheesecake-nav-logo,
.cheesecake-login-logo,
.userPanel .userLogout,
.popupCart .discount-price,
.common-from  .signin-social span,
.product-list-page span.icon-product,
.product-details-content .producr-price,
.user-love-list li:nth-child(4) span.love-item{
	display: block;
}

.note-found,
.cooking-hat,
.welcome-icon,
.cup-cake-icon,
.cheesecake-icon,
.cheesecake-nav-logo,
.cheesecake-login-logo{
    margin: 0 auto;
	background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar.top-navbar,
.sidebar-nave .navbar,
.navbar.navbar-increase{
	height: 60px;
}
.homePage .page-content,
.sidebar-nave  .page-content,
.increase-pageContent .page-content{
	padding-top:60px;
}
.productlistPage .page-content{
    padding-top:110px;
}
.panel-backdrop{
	background-color:rgba(0,0,0,0.5);
}
.box-shadow{
    -webkit-box-shadow: -1px 0px 25px 2px rgba(179,179,179,0.2);
    -moz-box-shadow: -1px 0px 25px 2px rgba(179,179,179,0.2);
    box-shadow: -1px 0px 25px 2px rgba(179,179,179,0.2);
}
.page-content .title-block{
    position: relative;
}
/* End Common Style */

/* Welcome Page */
.welcome-icon{
	width:280px;
	height:220px;
}
.cup-cake-icon,
.cheesecake-icon{
    width:26px;
	height:26px;
}
.select-cart-iocn{
	background-image: url(images/icons/buy.svg);
}
.fresh-cake-icon{
	background-image: url(images/icons/check-icon-only.png);
}
.delivery-icon{
	background-image: url(images/icons/delivery.svg);
}
.easypay-icon{
	background-image: url(images/icons/payment.svg);
}
.cup-cake-icon{
	background-image: url(images/icons/cup-cake.svg);
}
.cheesecake-icon{
	background-image: url(images/icons/cheesecake.svg);
}
.hat-icon{
	width: 30px;
    height: 30px;
    margin-top: 8px;
	background-image: url(images/icons/cooking-hat.svg);
}

/* End Welcome Page */

/* Home Page */
.cheesecake-logo,
.cheesecake-nav-logo{
	height: 52px !important;
}
.cheesecake-nav-logo,
.cheesecake-login-logo{
	background-image: url(images/cheesecake-logo.svg);
}
.cheesecake-nav-logo{
	width: 120px;
}
.cheesecake-login-logo{
	width: 200px;
    height: 80px;
}
.home-content .card-header {
    height: 60vw;
    background-size: cover;
    background-position: center;
    color: #fff;
	padding-bottom: 30px;
	text-shadow:0 0 3px rgba(0,0,0,0.4)
}
.about-content .card-header {
    height: 60vw;
    background-size: cover;
    background-position: center;
    color: #fff;
	text-shadow:0 0 3px rgba(0,0,0,0.4)
}
.navbar .cart-badge{
	position: absolute;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    padding: 4px;
    text-align: center;
    border-radius: 50%;
    letter-spacing: -1px;
    top: 0;
    z-index: 1;
    right: -4px;
}
.md .navbar .cart-badge{
	top: 6px;
    right: 6px;
}
.home-content .btn-delicious-cake{
	margin-top:-38px;
}

/* End Home Page */

/* Login & Registration Page */

.common-from{
	padding:10px 24px;
}

.common-from .item-input .item-inner,
.order-list li.media-item .item-inner,
.discount-code .item-input .item-inner,
.choose-packages .item-input .item-inner,
.flavors-dynamic .item-input .item-inner,
.common-from .list .item-media + .item-inner,
.order-list li.media-item .item-link .item-inner{
	margin-left:0;
	padding-right:0;
	padding-top: 0;
}
.common-from .item-input-info{
	text-align:center;
    margin-top:4px;
    padding-left: 0;
}
.common-from  .signin-social{
	position: relative;
}
.common-from  .signin-social span{
	border:1px solid #DDDDDD;
	padding:2px 6px;
	border-radius:20px;
	margin:0 auto;
	width:180px;
	position:relative;
	z-index:1
}
.common-from  .signin-social:after{
	left:0;
    top: 10px;
	height:1px;
	content: '';
    width: 100%;
    position: absolute;
	background-color:#DDDDDD;
}
/* End Login & Registration Page */



/* SlideBar Menu */
.list-gap .item-content,
.order-list .item-content,
.list-gap-0 .item-content,
.payment-list .item-content,
.your-package .item-content,
.userInfo.list .item-content,
.discount-code .item-content,
.flavors-dynamic .item-content,
.choose-packages .item-content,
.date-timePicker .item-content,
.user-flavors-list .item-content,
.common-from .list .item-content,
.popup-pridyct-list .item-content,
.busingss-hours .list .item-content,
.same-delivery-address .item-content{
	padding-left:0;
}
.your-package .item-inner,
.product-title .item-inner{
    padding-right: 0px;
}
.busingss-hours .list .item-media + .item-inner,
.sidebar-nave .appMenu .item-media + .item-inner {
    margin-left: 8px;
	padding-right: 2px;
}
.md .sidebar-nave .list .item-media {
    min-width: 20px;
}
.busingss-hours .block-title{
	margin-bottom: 0px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	border-bottom:1px dashed rgba(255,255,255,0.20);
}
.busingss-hours .list li{
	border-bottom:1px solid rgba(255,255,255,0.10);
}
.busingss-hours .list li:first-child .badge{
	background: #4CAF50;
}
.navbar .cart-badge,
.discount-percentage,
.busingss-hours .list li:last-child .badge{
	background: #F44336;
}
.busingss-hours .list li:last-child{
	border-bottom:0px solid rgba(255,255,255,0.20);
}
.busingss-hours .block-footer{
	background-color: #592b05;
    position: absolute;
    bottom: -12px;
    left: 10px;
    right: 10px;
    text-align: center;
    border-radius: 20px;
}
.busingss-hours .block-footer,
.busingss-hours .list li .badge{
	padding: 4px 6px;
}
.sidebar-nave:before{
	content: '';
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #e8e8e8;
    min-height: 100%;
    z-index: 1;
}
.sidebar-nave .appMenu .item-content{
	padding-left: 40px;
}
.copy-right{
	left: 0;
	right:0;
	bottom: 0;
	z-index: 2;
	padding: 10px 16px;
	position: fixed;
	border-top: 1px solid #e8e8e8;
}

/* End SlideBar Menu */

/* Bottom Menu */
.ios .link.active-state{opacity: 1;}
.bottom-menu,
.ios-translucent-bars .toolbar{
	background-color:#ddd3c9;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom-menu .toolbar-inner{overflow: inherit;}
.bottom-menu .product-list-page span.icon-product{
	border-style: solid;
    border-width: 2px;
    width: 50px;
    height: 50px;
    margin-top: -26px;
    z-index: 1;
	box-shadow: 0 0 5px rgba(161, 100, 51,1);
    border-color: rgb( 255, 255, 255 );
    border-radius: 50%;
    background-color: rgb( 161, 100, 51 );
}
.bottom-menu .product-list-page:after{
	content: '';
    width: 120px;
    height: 25px;
    top: -24px;
    position: absolute;
    background-position: top center;
    background-size: cover;
	background-image: url(images/icons/bottom-menu-icon.png) !important;
}

/* End Bottom Menu */

/* User Profile Page */
.userPanel,
.titlePanel{
	padding-bottom:12px;
}
.userPanel{
    padding-top: 12px;
}
.userPanel h2{
}
.userPanel .btn-edit{
	border:1px solid #bd4c00;
	width: 70px;
    float: right;
}
.userPanel .btn-order-list{
    border:1px solid #bd4c00;
    width: 106px;
    float: left;
}
.userPanel .userLogout{
}
.userPanel .userLogout .btn-logout,
.titlePanel .commontitle .page-icon{
	height: 46px;
    width: 46px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    line-height: 44px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -14px;
}
.userPanel .userLogout:after,
.titlePanel .commontitle:after{
	content: '';
    width: 120px;
    height: 25px;
    bottom: -24px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    background-position: bottom center;
    background-size: cover;
	background-image: url(images/icons/title-bg.png) !important;
}
.profile-edit .list ul:after{
    background-color: var(--f7-list-item-border-color);
}
.titlePanel .commontitle .page-icon{
    height: 38px;
    width: 38px;
    line-height: 38px;
}
/* End User Profile Page */

/* Product List Page */
.navbar ~ .subnavbar,
.navbars ~ .subnavbar,
.navbar ~ * .subnavbar,
.navbars ~ * .subnavbar,
.page-with-subnavbar .navbar ~ .subnavbar,
.page-with-subnavbar .navbar ~ * .subnavbar,
.navbar ~ .page-with-subnavbar:not(.no-navbar) .subnavbar,
.navbars ~ .page-with-subnavbar:not(.no-navbar) .subnavbar{
    top: 100%;
}
.productlistPage .block .block-header{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.best-sell-box{
    overflow: hidden;
}
.all-products .card-header,
.best-sell-box .card-header {
    height: 120px;
    background-size: cover;
    background-position: center;
}
.md .best-sell-box .card-header{
    height: 132px;
}
.best-sell-box .card-header,
.best-sell-box .best-sell-pic{
    border-radius: 0;
}
.best-sell-box .best-sell-content{
    position: relative;
    padding: 14px 8px 14px 16px;
}
.best-sell-box .best-sell-content .btn-best-cart{
    margin-left: 6px;
    border: 1px solid #592b05;
}
.best-sell-box .best-sell-content::before{
    content: '';
    position: absolute;
    right:-14px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 16px 0 0;
    border-color: #f8f8f9 transparent transparent transparent;
    line-height: 0px;
    _border-color: #f8f8f9 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    z-index: 1;
}
.best-sell-box .love-item{
    border-radius: 20px;
    padding: 0 0px 0px 10px;
}
.best-sell-box .love-item span{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    padding: 2px 6px;
}
.product-filter a.link,
.block-title .star-count,
.user-love-section .star-count{
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 2px 10px;
    display: inline-block;
}
.all-products .product-box{
    margin: 0 0 16px 0;
    min-height: 250px;
}
.swiper-button-prev:focus,
.swiper-button-next:focus{
    outline: none;
}
.product-box .btn-product-dtl{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
}
.all-products .product-btn-part{
    margin-top: -24px;
    margin-bottom: 10px;
    position: relative;
    z-index: 5;
}
.product-btn-part .btn-options,
.product-btn-part .btn-addto-cart{
    display: inline-block;
}
.product-btn-part .btn-addto-cart i.icon{
    display: none;
}
.apply-discount{
    background-color: #ecf6e7;
    padding: 8px 12px;
    border:1.2px dashed #45901c;
}
.btn-select-love {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 8px;
    left: 8px;
    text-align: center;
    padding: 0;
    line-height: 26px;
    z-index: 3;
    border-radius: 50px;
}
.bottom-price{
    width: 150px;
}
.cart-bottom{
    height: 60px;
}
.md .cart-bottom{
    height: 70px;
}
.md .cart-bottom .toolbar-inner{
    padding: 0 10px;
}
@media only screen and (max-width:350px) {
    .product-btn-part .btn-addto-cart span{
        display: none;
    }
    .product-btn-part .btn-addto-cart{
        width: 60px;
    }
    .product-btn-part .btn-addto-cart i.icon{
        display: inline-block;
    }
}
/* End Product List Page */


/* Product Details Page */

.productdetailPage .product-item-slide{
    
}
.product-item-slide .swiper-pagination{
    bottom: 40px;
}
.product-item-slide .swiper-pagination-bullet{
    border-radius: 20px;
    margin: 0 1px !important;
}
.product-item-slide .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 28px;
    background-color:#ef6368;
    outline: none;
}
.productdetailPage .product-details-content{
    margin-top: -34px;
    border-radius: 10px !important;
    overflow: hidden;
}
.product-details-content .product-title .item-after .badge{
    height: 30px;
    width: 80px;
    font-size: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.product-discreptions{
    line-height: 14px;
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dddddd;
}
.product-details-content .producr-price{
    padding-top:10px;
}
.empty-cart-alert,
.product-details-content .add-flavors-note{
    background-color: #fde6e6 !important;
    padding: 8px 12px;
    color:#a12626;
    border-radius: 6px;
    margin: 10px 0 !important;
    text-align: center;
    border:1.2px dashed #a12626;
}
.flavors-section .flavors-title{
    font-size: 24px;
    margin-top: 18px;
}

.user-love-section{
    padding: 0 16px 12px 16px;
}
.user-love-section .star-count{
    margin-top: 2px;
}
.user-love-list{
    margin: 0;
    padding: 0;
    text-align: right;
}
.user-love-list li{
    width: 22px;
    height: 22px;
    overflow: hidden;
    list-style: none;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.05);
}
.user-love-list li img{
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 30px;
    bottom: 0;
}
.user-love-list li:nth-child(1),
.user-love-list li:nth-child(2),
.user-love-list li:nth-child(3){
    margin-right: -22px;
}
.user-love-list li:nth-child(4){
    width: 50px;
    font-size: 12px;
    border-radius: 20px;
    line-height: 20px;
    text-align: left;
}
.user-love-list li:nth-child(4) span.love-item{
    padding: 1px;
}
.user-love-list li:nth-child(4) span.love-item span{
    padding: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
/* End Product Details page */


/* Checkout Page */

.current-user-info{
    margin: 0 !important;
}
.current-user-info,
.add-delivery-address{
    width: 100%;
    min-height: 210px;
    border-radius: var(--f7-block-inset-border-radius);
}
.md .current-user-info,
.md .add-delivery-address{
    min-height: 230px;
}
.payment-list label.item-checkbox > .icon-checkbox,
.same-delivery-address label.item-checkbox > .icon-checkbox {
    margin-right: 10px;
}
.checkout-tab{
    left: 16px;
    right: 16px;
    width: auto;
    margin: 0 auto;
    border-radius: 6px;
    display:block;
    bottom: -20px;
    position: absolute;
}
.checkout-tab > a{
    padding: 12px 0;
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
}
/* End CheckOut Page */

/* Gallery page */
.gallery-image a.link{
    margin-bottom:0px;
}
/**/

/* Not Found Page */
.note-found {
    width: 260px;
    height: 116px;
    background-image: url(images/404.jpg);
}
.notFound {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.order-address-insert .item-content,
.common-options-box .homeDelivery .item-content,
.order-address-insert .item-content .item-inner,
.common-options-box .homeDelivery .item-content .item-inner{
    padding: 0;
}

.order-address-insert textarea{
    margin-top: 16px;
    min-height: 90px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #dddddd;
}