
@font-face {
  font-family: 'AvantGardeLT-Medium';
  src: url('AvantGardeLT-Medium.eot') format('embedded-opentype'),
  url('AvantGardeLT-Medium.ttf')  format('truetype'),
  url('AvantGardeLT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


