<template>
  <f7-page name="productdetails" class="bg-white productdetailPage increase-pageContent">
    <f7-navbar class="t-black navbar-increase">
      <f7-nav-left>
        <f7-link href="#" class="back">
          <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-left>
      <f7-nav-title>
        <f7-link link="/" class="cheesecake-logo">
          <i class="cheesecake-nav-logo"></i>
        </f7-link>
      </f7-nav-title>
      <f7-nav-right>
        <f7-link sheet-open=".product-cart-sheet">
          <span class="cart-badge">12</span>
          <f7-icon f7="cart" size="26px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-right>
    </f7-navbar>

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
      <f7-link href="/">
        <f7-icon f7="house" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/contact-us/">
        <f7-icon f7="placemark" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/product-list/" class="product-list-page">
        <span class="icon-product">
          <f7-icon class="cooking-hat hat-icon"></f7-icon>
        </span>
      </f7-link>
      <f7-link href="/">
        <f7-icon f7="phone" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/userprofile/">
        <f7-icon f7="person" size="24px"></f7-icon>
      </f7-link>
    </f7-toolbar>

    <f7-block class="p-0 m-0">
      <f7-swiper
        class="product-item-slide tour-gallery-image"
        pagination
        navigation
        :params="{speed:500, slidesPerView: 1, spaceBetween: 20}"
      >
        <f7-swiper-slide v-for="(image,index) in productDetails.product_images" :key="index">
          <f7-link @click="$refs.productPhotos.open()">
            <img :src="image.url" alt />
          </f7-link>
        </f7-swiper-slide>
      </f7-swiper>
      <!-- For Product Zoom -->
      <f7-photo-browser :photos="productPhotos" ref="productPhotos"></f7-photo-browser>
    </f7-block>

    <f7-block inset class="p-0 bg-white product-details-content box-shadow">
      <f7-block class="p-0 m-0 bg-light-gray">
        <f7-list class="m-0 product-title">
          <f7-list-item
            header="Product Details"
            :title="productDetails.product_name"
            :badge="'$'+productDetails.product_price"
          ></f7-list-item>
        </f7-list>
<!--        <div class="user-love-section">-->
<!--          <f7-row>-->
<!--            <f7-col>-->
<!--              <span class="star-count">-->
<!--                <f7-icon f7="star_fill" size="14px" color="yellow"></f7-icon>5-->
<!--              </span>-->
<!--            </f7-col>-->
<!--            <f7-col>-->
<!--              <ul class="user-love-list">-->
<!--                <li>-->
<!--                  <img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt />-->
<!--                </li>-->
<!--                <li>-->
<!--                  <img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt />-->
<!--                </li>-->
<!--                <li>-->
<!--                  <img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt />-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span class="love-item">-->
<!--                    <span>-->
<!--                      <f7-icon f7="suit_heart_fill" size="13px" color="white"></f7-icon>-->
<!--                    </span>-->
<!--                    120-->
<!--                  </span>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </f7-col>-->
<!--          </f7-row>-->
<!--        </div>-->
      </f7-block>
      <WholeCakeDetails
        v-if="productDetails.product_type==='whole'"
        :product-details="productDetails"
        :key="$f7route.params.productId"
      />
      <CupCakeDetails v-if="productDetails.product_type==='cup'" :product-details="productDetails" />
    </f7-block>
  </f7-page>
</template>
<script>
import WholeCakeDetails from "../../components/whole-cake-details";
import CupCakeDetails from "../../components/cup-cake-details";

export default {
  components: {
    WholeCakeDetails,
    CupCakeDetails
  },
  data(){
    return {
      productPhotos: [],
    };
  },
  methods: {},
  created() {
    this.productPhotos=this.productDetails.product_images??[];
  },
  computed: {
    productDetails() {
      return this.$store.getters.getProductById(
        Number.parseInt(this.$f7route.params.productId)
      );
    }
  }
};
</script>
<style>
</style>