<template>
  <f7-page name="productlist" class="bg-white productlistPage">
    <f7-navbar class="t-black navbar-increase">
      <f7-nav-left>
        <f7-link href="#" class="back">
          <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-left>
      <f7-nav-title>
        <f7-link link="/" class="cheesecake-logo">
          <i class="cheesecake-nav-logo"></i>
        </f7-link>
      </f7-nav-title>
      <f7-nav-right>
        <f7-link sheet-open=".product-cart-sheet">
          <span class="cart-badge">12</span>
          <f7-icon f7="cart" size="26px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-right>
      <f7-subnavbar :inner="false">
        <f7-searchbar
          @input="searchProduct"
          @click:disable="getProducts()"
          :disable-button="!$theme.aurora"
        ></f7-searchbar>
      </f7-subnavbar>
    </f7-navbar>

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
      <f7-link href="/">
        <f7-icon f7="house" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/contact-us/">
        <f7-icon f7="placemark" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/product-list/" class="product-list-page">
        <span class="icon-product">
          <f7-icon class="cooking-hat hat-icon"></f7-icon>
        </span>
      </f7-link>
      <f7-link href="/">
        <f7-icon f7="phone" size="24px"></f7-icon>
      </f7-link>
      <f7-link href="/userprofile/">
        <f7-icon f7="person" size="24px"></f7-icon>
      </f7-link>
    </f7-toolbar>

    <f7-list class="searchbar-not-found m-0">
      <f7-list-item title="Nothing found"></f7-list-item>
    </f7-list>
    <f7-block-title class="mt-1">
      <div class="display-flex justify-content-space-between align-items-center">
        Best Sales In This Week
<!--        <span class="star-count">-->
<!--          <f7-icon f7="star_fill" size="14px" color="yellow"></f7-icon>5-->
<!--        </span>-->
      </div>
    </f7-block-title>
    <f7-block inset class="bg-light-gray p-0 mb-2 best-sell-box">
      <f7-row no-gap>
        <f7-col width="60">
          <div class="best-sell-content">
            <f7-block-header class="fw-3 m-0">Red Velvet Cheesecake</f7-block-header>
            <h2 class="mt-0 mb-1 theme-color">$45.00</h2>
            <f7-row no-gap tag="div">
              <f7-col width="60" tag="span">
                <f7-button href="/product-details/" fill round class="btn-theme">Details</f7-button>
              </f7-col>
              <f7-col width="40" tag="span"></f7-col>
            </f7-row>
          </div>
        </f7-col>
        <f7-col width="40">
          <f7-card class="best-sell-pic m-0">
            <f7-card-header
              class="no-border"
              valign="bottom"
              style="background-image:url(https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg)"
            >
              <!-- <span class="love-item">
                120
                <span>
                  <f7-icon f7="suit_heart_fill" size="18px" color="white"></f7-icon>
                </span>
              </span>-->
            </f7-card-header>
          </f7-card>
        </f7-col>
      </f7-row>
    </f7-block>

    <f7-block inset class="p-0 mt-2 mb-1">
      <div class="display-flex justify-content-space-between align-items-center">
        <div class="f-18">
          <f7-button fill color="red" @click="getProducts()">All Cakes</f7-button>
        </div>
        <div class="product-filter">
          <f7-link @click="getProducts('cup')">
            <i class="cup-cake-icon"></i>
          </f7-link>
          <f7-link @click="getProducts('whole')">
            <i class="cheesecake-icon"></i>
          </f7-link>
        </div>
      </div>
    </f7-block>
    <f7-block inset class="p-0 mt-0 all-products">
      <f7-row>
        <!-- Product list Loop -->
        <f7-col width="50" v-for="(p,index) in products" :key="index">
          <f7-card class="product-box">
            <f7-card-header
              class="no-border"
              valign="bottom"
              :style="`background-image:url(${p.product_thumbimages.url})`"
            >
              <!-- if Product is like the show -->
              <!-- <span class="btn-select-love">
                <f7-icon f7="suit_heart_fill" size="16px" color="white"></f7-icon>
              </span>-->
              <f7-link :href="'/product-details/'+p.id" class="btn-product-dtl">&nbsp;</f7-link>
            </f7-card-header>
            <f7-card-content class="p-1 text-align-center">
              <div class="product-btn-part">
                <f7-button fill round class="btn-theme button button-round button-fill">
                  <f7-link :href="'/product-details/'+p.id" class="text-color-white">DETAILS</f7-link>
                </f7-button>
                <span
                  v-if="p.product_type=='cup'"
                  class="btn-options button button-round button-fill button-raised"
                >
                  <f7-icon f7="layers" size="18px" color="white"></f7-icon>
                </span>
              </div>
              <p class>{{ p.product_name }}</p>
              <p class="f-18 m-0 theme-color">${{ p.product_price }}</p>
            </f7-card-content>
          </f7-card>
        </f7-col>
        <!-- End Product list Loop -->
      </f7-row>
      <f7-row v-if="!products.length">
        <f7-col>No Cakes Found</f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>
<script>

export default {
  name: "ProductList",
  data() {
    return {
      products: [],
      productsSearchSwap: [],
    };
  },
  methods: {
    getProducts(type) {
      this.products = this.$store.getters.getProductByType(type);
      this.productsSearchSwap = this.$store.getters.getProductByType(type);
    },
    searchProduct(event) {
      let queryString = event.target.value;
      let matched = this.productsSearchSwap.filter((product) =>
        product.product_name.includes(queryString)
      );
      this.products = matched;
    },
  },
  created() {
    this.$f7.dialog.preloader("Loading cakes....");
    this.$store
      .dispatch("fetchAllProducts")
      .then((response) => {
        this.getProducts();
      })
      .catch((error) => {
        console.log(error);
      }).finally(()=>{
        this.$f7.dialog.close();
      });
  },
};
</script>
<style>
</style>