<template>
    <div class="vue-component-wrapper" id="wrapper">
        <SideNavBar/>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <TopNavBar/>
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<script>
    import TopNavBar from './TopNavBar';
    import SideNavBar from './SideNavBar';
    import Footer from './Footer';
    export default {
        name:'layout-template',
        data(){
            return {
                routerViewKey: 0
            }
        },
        components: {
            TopNavBar,
            SideNavBar,
            Footer,
        },
        computed: {
            loggedIn(){

            },
        },
        methods: {
            refreshRouterView(){
                this.routerViewKey += 1;
            }
        },
        created() {
            this.$root.$on('refreshRouterView', this.refreshRouterView)
        },
        destroyed() {
            this.$root.$off('refreshRouterView', this.refreshRouterView)
        }
    }
</script>
