<template>
<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-white"><i class="fab fa-itch-io"></i> {{ pageTitile }}</h1>
                <router-link to="/" class="d-none d-sm-inline-block btn btn-lg btn-light shadow-sm">
                    <i class="fas fa-home fa-sm"></i>{{ pageButton }}
                </router-link>
            </div>
            <div class="page-header-subtitle">{{ pageSubTitle }}</div>
        </div>
    </div>
</div>
</template>
<script>
 export default {
    name:'PageHeader',
    props:{
        pageTitile:{
            type:String,
            default:'CheeseCake Software Titile',
        },
        pageButton:{
            type:String,
            default:'Dashboard',
        },
        pageSubTitle:{
            type:String,
            default:'Cheesecake on point! by cinnalightful',
        }
    },
    data(){
        return{

        }
    }
}
</script>
