<template>
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon">
        <img src="/app_backend/images/check-icon-only.png" height="42" alt />
      </div>
      <div class="sidebar-brand-text mx-3">
        <img src="/app_backend/images/cheesecake-logo.svg" alt />
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <router-link class="nav-link" to="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </router-link>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <router-link class="nav-link" to="/orders">
        <span class="badge badge-danger badge-pill small">{{ totalPendingOrders }}</span>
        <i class="fas fa-fw fa-truck"></i>
        <span>All Orders</span>
      </router-link>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Products Sections</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-fw fa-cog"></i>
        <span>Product</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Product Components</h6>
          <router-link class="collapse-item" to="/flavors">Flavors</router-link>
          <router-link class="collapse-item" to="/products">Products</router-link>
          <router-link class="collapse-item" to="/products/create">Add Product</router-link>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Pages Sections</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
      <div
        id="collapsePages"
        class="collapse"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">App Pages</h6>
          <a class="collapse-item" href="page-list.php">All Pages</a>
          <a class="collapse-item" href="add-page.php">Add New Page</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-fw fa-file-pdf"></i>
        <span>Delivery Invoice</span>
      </a>
    </li>

    <!-- Nav Item - Tables -->
    <!--<li class="nav-item">
		<a class="nav-link" href="settings.php">
			<i class="fas fa-fw fa-tools"></i>
			<span>Settings</span>
		</a>
    </li>-->
    <!-- Divider -->
    <hr class="sidebar-divider" />
    <!-- Heading -->
    <div class="sidebar-heading">App Information</div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseSettings"
        aria-expanded="true"
        aria-controls="collapseSettings"
      >
        <i class="fas fa-fw fa-tools"></i>
        <span>Settings</span>
      </a>
      <div
        id="collapseSettings"
        class="collapse"
        aria-labelledby="headingSettings"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">App Information</h6>
          <router-link class="collapse-item" to="/settings">Information</router-link>
           <router-link class="collapse-item" to="/coupons">Coupon Code</router-link>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->
</template>
<script>
export default {
  name:'side-nav-bar',
  data(){
    return{
      
    }
  },
  created(){
    this.$store.dispatch('getTotalPendingOrders');
  },
  methods:{
    
  },
  computed:{
    totalPendingOrders(){
      return this.$store.getters.showTotalPeningOders;
    }
  }
};
</script>
