<template>
  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search.." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>-->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item">
        <a class="nav-link text-primary" href="/app_backend/settings">
        <i class="fas fa-cogs"></i>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-danger" href="#">
        <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </li>
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="searchDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div
          class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
          aria-labelledby="searchDropdown"
        >
          <form class="form-inline mr-auto w-100 navbar-search">
            <div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Nav Item - Alerts -->
<!--      <li class="nav-item dropdown no-arrow mx-1">-->
<!--        <a-->
<!--          class="nav-link dropdown-toggle"-->
<!--          href="#"-->
<!--          id="alertsDropdown"-->
<!--          role="button"-->
<!--          data-toggle="dropdown"-->
<!--          aria-haspopup="true"-->
<!--          aria-expanded="false"-->
<!--        >-->
<!--          <i class="fas fa-bell fa-fw"></i>-->
<!--          &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
<!--          <span class="badge badge-danger badge-counter">3+</span>-->
<!--        </a>-->
<!--        &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
<!--        <div-->
<!--          class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--          aria-labelledby="alertsDropdown"-->
<!--        >-->
<!--          <h6 class="dropdown-header">New Orders List</h6>-->
<!--          <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--            <div class="dropdown-list-image mr-3">-->
<!--              <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt />-->
<!--              <div class="status-indicator bg-success"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="small text-gray-500">May 12, 2020 - 11:00 PM</div>-->
<!--              <span class="font-weight-bold">Product name here</span>-->
<!--            </div>-->
<!--          </a>-->
<!--          <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--            <div class="dropdown-list-image mr-3">-->
<!--              <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt />-->
<!--              <div class="status-indicator bg-success"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="small text-gray-500">May 12, 2020 - 11:00 PM</div>-->
<!--              <span class="font-weight-bold">Product name here</span>-->
<!--            </div>-->
<!--          </a>-->
<!--          <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--            <div class="dropdown-list-image mr-3">-->
<!--              <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt />-->
<!--              <div class="status-indicator bg-success"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="small text-gray-500">May 12, 2020 - 11:00 PM</div>-->
<!--              <span class="font-weight-bold">Product name here</span>-->
<!--            </div>-->
<!--          </a>-->
<!--          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Orders</a>-->
<!--        </div>-->
<!--      </li>-->

<!--      <div class="topbar-divider d-none d-sm-block"></div>-->

      <!-- Nav Item - User Information -->
      
    </ul>
  </nav>
  <!-- End of Topbar -->
</template>
<script>
export default {};
</script>
