<template>
  <div>
    <PageHeader page-titile="Add Product" page-sub-title="You can add product here with options." />
    <div class="container-fluid mt-n10">
      <!-- Content Row -->
      <div class="pages-contents">
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="card mb-4">
              <div class="card-header h4">
                <div class="d-sm-flex align-items-center justify-content-between">
                  <h1 class="h4 mb-0 font-weight-bold text-black">Product Content</h1>
                  <span></span>
                </div>
              </div>
              <form @submit.prevent="saveProduct" enctype="multipart/form-data" id="productForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 mb-4">
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label class="text-black">Product name</label>
                          <input
                            type="text"
                            v-model="product.product_name"
                            class="form-control"
                            v-bind:class="{'is-invalid':validationErrors.product_name}"
                            placeholder="insert your product name"
                          />
                          <small
                            class="text-danger"
                            v-if="validationErrors.product_name"
                          >{{ validationErrors.product_name[0] }}</small>
                        </div>
                        <div class="form-group col-md-4">
                          <label class="text-black">Product Price</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fas fa-dollar-sign"></i>
                              </span>
                            </div>
                            <input
                              type="number"
                              v-model="product.product_price"
                              class="form-control"
                              placeholder="00.00"
                              v-bind:class="{'is-invalid':validationErrors.product_price}"
                              :disabled="wholeCakeOptionDisabled"
                            />
                            <small
                              class="text-danger"
                              v-if="validationErrors.product_price"
                            >{{ validationErrors.product_price[0] }}</small>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label class="text-black">Product Type</label>
                          <select
                            class="form-control"
                            v-bind:class="{'is-invalid':validationErrors.product_type}"
                            v-model="product.product_type"
                            @change="selectProductType"
                          >
                            <option value>Choose Product Type</option>
                            <option value="whole">Whole Cheesecake</option>
                            <option value="cup">Cheesecake Cupcake</option>
                          </select>
                          <small
                            class="text-danger"
                            v-if="validationErrors.product_type"
                          >{{ validationErrors.product_type[0] }}</small>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="text-black">Product Description</label>
                        <textarea
                          class="form-control"
                          v-bind:class="{'is-invalid':validationErrors.product_description}"
                          v-model="product.product_description"
                        ></textarea>
                        <small
                          class="text-danger"
                          v-if="validationErrors.product_description"
                        >{{ validationErrors.description[0] }}</small>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-7 mb-4">
                      <div class="card bg-light mb-3">
                        <div class="card-header">
                          <span class="text-black h5">Product Options</span>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <label class="text-black">Flavor Name({{ product.product_type=='cup'?'Multiple':'Single' }})</label>
                            <multiselect
                              v-model="product.selectedFlavorsObjects"
                              :disabled="product.product_type==''"
                              tag-placeholder="Add this as new tag"
                              placeholder="Search or add a tag"
                              label="flavor_name"
                              track-by="id"
                              :options="flavors"
                              :max="product.product_type=='whole'?1:100"
                              :multiple="true"
                              v-bind:class="{'is-invalid':validationErrors.selectedFlavorsIds}"
                              :taggable="true"
                            ></multiselect>
                            <small
                              class="text-danger"
                              v-if="validationErrors.selectedFlavorsIds"
                            >{{ validationErrors.selectedFlavorsIds[0] }}</small>
                          </div>
                          <div class="packages-item border-top border-bottom py-3 my-3">
                            <div class="input-group mb-3 packages-btn">
                              <div class="input-group-prepend">
                                <span
                                  class="input-group-text"
                                >Click Plus Button to add your Packages</span>
                              </div>
                              <button
                                type="button"
                                :disabled="cupCakeOptionDisabled"
                                @click.prevent="addPackage"
                                class="btn btn-success"
                              >
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                            <!-- Loop for Package insert -->
                            <div
                              class="form-row"
                              v-for="(pack,index) in product.packages"
                              :key="index"
                            >
                              <div class="form-group col-md-6">
                                <label class="text-black">Package name</label>
                                <input
                                  type="number"
                                  :disabled="cupCakeOptionDisabled"
                                  v-model="product.packages[index].package_name"
                                  class="form-control"
                                  v-bind:class="{'is-invalid':validationErrors['packages.'+index+'.package_name']}"
                                  placeholder="example: 2"
                                />
                                  Pack
                                <small
                                  class="text-danger"
                                  v-if="validationErrors['packages.'+index+'.package_name']"
                                >{{ validationErrors['packages.'+index+'.package_name'][0] }}</small>
                              </div>

                              <div class="form-group col-md-4">
                                <label class="text-black">Package Price</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-dollar-sign"></i>
                                    </span>
                                  </div>
                                  <input
                                    type="number"
                                    :disabled="cupCakeOptionDisabled"
                                    v-model="product.packages[index].package_price"
                                    class="form-control"
                                    v-bind:class="{'is-invalid':validationErrors['packages.'+index+'.package_price']}"
                                    placeholder="0.00"
                                  />
                                  <small
                                    class="text-danger"
                                    v-if="validationErrors['packages.'+index+'.package_price']"
                                  >{{ validationErrors['packages.'+index+'.package_price'][0] }}</small>
                                </div>
                              </div>
                              <div class="form-group col-md-2">
                                <label class="text-black">Action</label>
                                <button
                                  type="button"
                                  :disabled="cupCakeOptionDisabled"
                                  @click.prevent="removePackage(index)"
                                  class="btn btn-danger"
                                >
                                  <i class="fas fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <!-- End Loop -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <uploader @fileSelected="fileSelected"></uploader>
                  <!--                    <input  type="file" @change="fileSelected" multiple/>-->
                  <button type="submit" class="btn btn-success">Save Product</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from "../../layouts/PageHeader";
import Multiselect from "vue-multiselect";
import FileUploader from "../../FileUploader";
import Uploader from "../../Uploader";
import obj2fd from "obj2fd";

export default {
  name: "CreateProduct",
  components: {
    PageHeader,
    Multiselect,
    FileUploader,
    Uploader
  },
  data() {
    return {
      product: {
        product_name: "",
        product_description: "",
        product_price: 0,
        product_type: "",
        packages: [
          {
            package_name: "",
            package_price: ""
          }
        ],
        selectedFlavorsObjects: [],
        selectedFlavorsIds: [],
        uploadedFiles: [],
      },
      wholeCakeOptionDisabled: true,
      cupCakeOptionDisabled: true,
      validationErrors: [],
      files: []
    };
  },
  methods: {
    addPackage() {
      this.product.packages.push({ package_name: "", package_price: "" });
    },
    removePackage(index) {
      let packages = this.product.packages.length;
      if (packages > 1) {
        this.product.packages.splice(index, 1);
      }
    },
    selectProductType() {
      if (this.product.product_type == "whole") {
        this.wholeCakeOptionDisabled = false;
        this.cupCakeOptionDisabled = true;
      } else if (this.product.product_type == "cup") {
        this.wholeCakeOptionDisabled = true;
        this.cupCakeOptionDisabled = false;
        this.product.product_price = 0;
      } else {
        this.wholeCakeOptionDisabled = true;
        this.cupCakeOptionDisabled = true;
      }
    },
    saveProduct() {
      axios
        .post("/api/v1/products", obj2fd(this.product))
        .then(response => {
          this.$router.push("/products");
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.validationErrors = error.response.data.errors;
          } else {
            console.log(error.response);
          }
        });
    },
    fileSelected(fileObjects) {
      this.product.uploadedFiles.push(fileObjects);
    }
  },
  created() {
    this.$store.dispatch("getFlavors");
  },
  computed: {
    flavors() {
      return this.$store.getters.flavors;
    }
  },
  watch: {
    "product.selectedFlavorsObjects": {
      deep: true,
      handler: function(newValue) {
          console.log(this.product.selectedFlavorsObjects);
        this.product.selectedFlavorsIds = newValue.map(obj => obj.id);
      }
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

