<template>
  <div>
    <PageHeader page-titile="Products" page-sub-title="List of available products." />
    <div class="container-fluid mt-n10">
      <!-- Content Row -->
      <div class="pages-contents">
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="card mb-4">
              <div class="card-header h4">
                <div class="d-sm-flex align-items-center justify-content-between">
                  <h1 class="h4 mb-0 font-weight-bold text-black">All Products</h1>
                  <span>
                    <router-link to="/products/create" class="btn btn-success shadow-sm">
                      <i class="fas fa-plus-circle"></i> Add New Products
                    </router-link>
                  </span>
                </div>
              </div>
              <div class="card-body">
                <div class="on-delivery">
                  <div class="form-row">
                    <div class="form-group col-md-9">
                      <label class="h5 mt-1">
                        Total Products:
                        <strong>{{ products.length }}</strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" @change="loadProducts($event.target.value)">
                        <option hidden>Filter by product type</option>
                        <option value="all">All</option>
                        <option value="whole">Whole Cheesecake</option>
                        <option value="cup">Cheesecake Cupcake</option>
                      </select>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table table-bordered table-hover"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th width="5%">No</th>
                          <th width="10%">Image</th>
                          <th width="36%">Product Name & Flavors</th>
                          <th width="15%">Product Type</th>
                          <th width="14%">Packages & Price</th>
                          <th width="10%">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-if="productLoading">
                          <td colspan="6" align="center">
                            <div class="spinner-border text-success" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </td>
                        </tr>
                        <tr v-for="(product,index) in products" :key="index">
                          <td>{{ product.id }}</td>
                          <td>
                              <template v-if="product.product_thumbimages.url==''">
                                  <img src="images/no-img.jpg" width="100" alt />
                              </template>
                              <template v-else>
                                  <img :src="product.product_thumbimages.url" width="100" alt />
                              </template>

                          </td>
                          <td>
                            {{ product.product_name }}
                            <br />
                            <div
                              class="badge badge-secondary badge-pill"
                              v-for="(flavor,index) in product.flavors"
                              :key="index"
                            >{{ flavor.flavor_name }} (Stock: {{ flavor.flavor_stock_qty }})</div>
                          </td>
                          <td>{{ product.product_type+" Cake" }}</td>
                          <td>
                            <div v-if="!product.packages.length">${{ product.product_price }}</div>
                            <div
                              class="badge badge-success badge-pill font-size-16"
                              v-for="(pack,index) in product.packages"
                              :key="index"
                            >
                              {{ pack.package_name }} :
                              ${{ pack.package_price }}
                            </div>
                          </td>
                          <td>
                            <a
                              :href="`/app_backend/products/edit/${product.id}`"
                              class="btn btn-outline-primary btn-sm"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Edit Product"
                            >
                              <i class="far fa-edit"></i>
                            </a>
                            <button
                              class="btn btn-outline-danger btn-sm"
                              data-toggle="tooltip"
                              data-placement="top"
                              @click="deleteProduct(product.id,index)"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from "../../layouts/PageHeader";

export default {
  name: "ProductList",
  components: {
    PageHeader
  },
  data() {
    return {
      products: [],
      productLoading: false
    };
  },
  created() {
    this.loadProducts();
  },
  methods: {
    loadProducts(product_type = "all") {
      this.productLoading = true;
      axios
        .get("/api/v1/products?product_type=" + product_type)
        .then(response => {
          this.products = response.data.products;
          this.productLoading = false;
        })
        .catch(error => {
          this.productLoading = false;
          console.log(error);
        });
    },
    deleteProduct(productId,index){
     
        this.$helpers.confirmDelete(()=>{
            axios
                .delete('/api/v1/products/'+productId)
                .then(response=>{
                    this.products.splice(index,1);
                    this.$helpers.showAlert("Deleted successfully",response.data.message,"success");
                })
                .catch(error=>{
                    if(typeof error.response.data!=='undefined'){
                        this.$helpers.showAlert("Can not be deleted",error.response.data,"error");
                    }
                });
            });
    }
  },
 
};
</script>

<style scoped>
</style>
