<template>
  <f7-page class="page-not-found">
    <f7-block class="notFound text-align-center m-0">
      <i class="note-found"></i>
      <h2>NO PAGE FOUND</h2>
      <p>May be you must go back and try a different keyword</p>
      <f7-row>
        <f7-col width="20"></f7-col>
        <f7-col width="60">
          <f7-button href="/" large fill color="green">Back to home</f7-button>
        </f7-col>
        <f7-col width="20"></f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>
<script>
  export default {};
</script>