<template>
<f7-page name="about" class="bg-white aboutPage increase-pageContent">

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page"><span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span></f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                About us
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="doc_richtext" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>

    <!-- Page content-->
    <f7-block>
        <f7-card class="about-content m-0">
            <f7-card-header class="no-border" valign="bottom" :style="`background-image:url(`+aboutPageImage+`)`"></f7-card-header>
            <f7-card-content class="text-align-center">
                <h2 class="mt-0">Matcha and her passion!</h2>
                <p>Our founder, Matcha Norwood, lives and breathes gourmet cheesecake. Still, it wasn’t until 2017, when Matcha agreed to make cheesecakes for a local restaurant owner, that <b>Cheesecake on Point!</b> got its start. Familiar with cheesecakes, but never making them herself, Matcha decided to put her own spin on each one she prepared. Using fresh, local ingredients, she began experimenting with new flavors, toppings, and sizes. She didn’t know her cheesecakes would quickly turn into a booming dessert business. Now, they can be found in restaurants and other locations all over Central Arkansas. The demand for Matcha’s delicious cheesecake has only grown since the first day!</p>
                <p>Founder & Owner<br>Matcha Norwood</p>
            </f7-card-content>
        </f7-card>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    data: function () {
        return {
            aboutPageImage: require("../css/images/about-us.png").default,
        }
    },
    methods: {

    },
    created() {

    },
}
</script>

<style>

</style>
