<template>
	<f7-page name="intro" class="bg-white loginPage">
		<f7-navbar class="t-black introNav">
			<f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title></f7-nav-title>
			<f7-nav-right></f7-nav-right>
		</f7-navbar>
		<f7-block class="m-0">
			<i class="cheesecake-nav-logo"></i>
		</f7-block>
		<f7-block class="m-0">
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>

</style>
