<template>
<f7-page name="cartView" class="bg-white cartviewPage increase-pageContent">
    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu cart-bottom">
        <span class="bottom-price">
            <b class="f-18">Total: {{ $store.getters.getCartTotal | currencyFormat }}</b>
            <small class="f-12" v-if="$store.getters.getCartDeliveryCharge!=0?true:false">INC. Delivery Charge</small>
        </span>
        <f7-button large fill href="/checkout/" class="btn-theme" :disabled="!$store.getters.getCartTotal">Make Payment</f7-button>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">Your Cart item’s</f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="bag" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>
    <f7-block-title class="fw-3">Swipe left to delete your items</f7-block-title>
    <f7-block strong inset class="box-shadow mb-2">
        <!--this componenet is to list cart items-->
        <cart-row></cart-row>
    </f7-block>
    <DiscountAndDeliveryChargeVue></DiscountAndDeliveryChargeVue>
    <cart-bill></cart-bill>
</f7-page>
</template>

<script>
import CartBill from '../components/cart-bill.vue';
import CartRow from '../components/cart-row';
import DiscountAndDeliveryChargeVue from '../components/discount-and-delivery-charge.vue';

export default {
    data: function () {
        return {};
    },
    components: {
        CartRow,
        DiscountAndDeliveryChargeVue,
        CartBill,
    },
};
</script>

<style scoped>
.popup-pridyct-list .item-media+.item-inner {
    padding-right: 0;
}
</style>
