<template>
<f7-page name="checkout" class="bg-light-gray checkoutPage increase-pageContent">
    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                Checkout
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="creditcard" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>
    <f7-block class="p-0 mt-0">
        <form @submit.prevent="confirmOrder">
            <f7-block-title>User Information</f7-block-title>
            <f7-block strong inset class="mb-2 p-0">
                <f7-row>
                    <!--<f7-col width="20" class>
                        <f7-link class="box-shadow add-delivery-address align-self-center" href>
                            <f7-icon f7="plus" size="28px" color="green"></f7-icon>
                        </f7-link>
                    </f7-col>-->
                    <f7-col width="100">
                        <f7-block strong inset class="p-2 box-shadow current-user-info">
                            <p class="f-14 m-0">{{ loggedInUser.full_name }}</p>
                            <p class="f-12 mt-0">
                                <b>Phone</b>
                                {{ loggedInUser.phone }}
                            </p>
                            <p class="f-14 m-0 text-color-gray">
                                <f7-icon f7="placemark" size="16px" color="gray"></f7-icon>Your Delivery address
                            </p>
                            <f7-list class="m-0 order-address-insert">
                                <f7-list-input floating-label type="textarea" :value="orderInfo.delivery_address" @input="orderInfo.delivery_address=$event.target.value" resizable placeholder="Enter Delivery Address"></f7-list-input>
                            </f7-list>
                        </f7-block>
                    </f7-col>
                </f7-row>
            </f7-block>

            <f7-block-title class="mt-2">Select {{ $store.getters.getCartDeliveryCharge?'delivery':'pickup' }} date & time</f7-block-title>
            <f7-block strong inset class="m-0 box-shadow">
                <f7-list class="m-0 date-timePicker" no-hairlines-md>

                    <f7-list-input label="Date-time Picker" type="datepicker" placeholder="Date" :calendar-params="{dateFormat: 'dd-mm-yyyy',closeOnSelect: true,}" @calendar:change="datePickerChange" resizable clear-button>
                    </f7-list-input>

                </f7-list>
            </f7-block>
            <f7-block-title>Select Payment Method</f7-block-title>
            <f7-block>
                <f7-list class="m-0 p-1 box-shadow bg-white br-6 payment-list">
                    <f7-list-item checkbox title="Payment with Paypal" header="Paypal" @change="(event)=>{orderInfo.payment_method=event.target.checked}"></f7-list-item>
                </f7-list>
            </f7-block>
            <f7-block-title class="mt-2">Your Bill</f7-block-title>
            <f7-block strong inset class="box-shadow">
                <div class="display-flex justify-content-space-between align-items-center">
                    <div class="f-18">Subtotal</div>
                    <div class="f-18">
                        <b>{{ $store.getters.getCartSubTotal | currencyFormat }}</b>
                    </div>
                </div>
                <div class="display-flex justify-content-space-between align-items-center text-color-gray">
                    <div class="f-12">Discount</div>
                    <div class="f-12">
                        <b>- {{ $store.getters.getCartDiscount | currencyFormat }}</b>
                    </div>
                </div>
                <div class="display-flex justify-content-space-between align-items-center text-color-gray">
                    <div class="f-12">Tax</div>
                    <div class="f-12">
                        <b></b>
                    </div>
                </div>
                <div class="display-flex justify-content-space-between align-items-center text-color-gray">
                    <div class="f-12">Delivery charge</div>
                    <div class="f-12">
                        <b>+ {{ $store.getters.getCartDeliveryCharge | currencyFormat }}</b>
                    </div>
                </div>
                <hr />
                <div class="display-flex justify-content-space-between align-items-center popup-total">
                    <div class="f-22">Total</div>
                    <div class="f-22">
                        <b>{{ $store.getters.getCartTotal | currencyFormat }}</b>
                    </div>
                </div>

                <f7-row class="mt-2">
                    <f7-col width="25"></f7-col>
                    <f7-col width="50">
                        <f7-button large raised fill round class="btn-theme" type="submit">Confirm</f7-button>
                    </f7-col>
                    <f7-col width="25"></f7-col>
                </f7-row>
            </f7-block>
        </form>
        <f7-tabs animated>

        </f7-tabs>
    </f7-block>
</f7-page>
</template>

<script>
import moment from "moment";
import AppConfig from "../js/config/appConfig";
export default {
    name: "checkout",
    data: function () {
        return {
            orderInfo: {
                delivery_address: "",
                delivery_date: "",
                pickup_date: "",
                payment_method: "",
                delivery_charge: this.$store.getters.getCartDeliveryCharge,
                cart_items: this.$store.getters.getCartItems,
            },
        };
    },
    methods: {
        datePickerChange(value) {
            if (this.$store.getters.getCartDeliveryCharge) {
                this.orderInfo.delivery_date = moment(String(value[0])).format("DD-MM-YYYY");
                this.orderInfo.pickup_date = "";
            } else {
                this.orderInfo.pickup_date = moment(String(value[0])).format("DD-MM-YYYY");
                this.orderInfo.delivery_date = "";
            }
        },
        confirmOrder() {
            this.$f7.dialog.preloader("Order is being processed, please wait...");

            app.axios
                .post("orders", this.orderInfo)
                .then((response) => {
                    console.log(response);
                    this.onlinePayment(response.data.order.id);

                    // this.$f7router.navigate("/order-list/", {
                    //     clearPreviousHistory: true,
                    // });
                })
                .catch((error) => {
                    if (error.response.status === 422) {
                        let errors = error.response.data.errors;
                        let errorMessage = "";
                        Object.keys(errors).forEach((key, i) => {
                            if (typeof errors[key][0] !== "undefined") {
                                errorMessage += "<p>" + errors[key][0] + "</p>";
                            }
                        });
                        this.$f7.dialog.alert(errorMessage);
                    } else {
                        this.$f7.dialog.alert(error.response.data.message);
                    }
                })
                .finally(() => {
                    this.$f7.dialog.close();
                });
        },
        onlinePayment(orderId) {
            let url = AppConfig.apiUrl + 'orders/paypal-payment-form/' + orderId;
            let target = '_blank';
            let options = "location=yes,hideurlbar=yes,hidenavigationbuttons=yes,toolbar=yes,closebuttoncaption=Close";
            let ref = cordova.InAppBrowser.open(url, target, options);
            var that = this;
            ref.addEventListener('loadstart', function () {
                app.$f7.dialog.preloader("Please wait ......");
            });

            ref.addEventListener('loadstop', function (e) {
                app.$f7.dialog.close();
                if (e.url == AppConfig.apiUrl + 'orders/ipn') {
                    ref.close();
                }
            });

            ref.addEventListener('exit', function () {
                app.$store.commit('EMPTY_CART');
                app.$f7.dialog.alert("Your order has been submitted successfully");
                that.$f7router.navigate("/order-list/", {
                    clearPreviousHistory: true,
                });
            });
        }
    },
    created() {},
    computed: {
        loggedInUser() {
            return this.$store.getters.loggedInUser;
        },
    },
};
</script>

<style>
.popup-pridyct-list .item-media+.item-inner {
    padding-right: 0;
}
</style>
