<template>
  	<f7-page name="contactus" class="bg-white contactusPage increase-pageContent">
   		 <f7-navbar class="t-black navbar-increase">
			<f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title>
				<f7-link link="/" class="cheesecake-logo"><i class="cheesecake-nav-logo"></i></f7-link>
			</f7-nav-title>
			<f7-nav-right>
				<f7-link sheet-open=".product-cart-sheet">
					<span class="cart-badge">12</span>
					<f7-icon f7="cart" size="26px" color="black"></f7-icon>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>
		
		<!-- Bottom Toolbar-->
		<f7-toolbar bottom class="bottom-menu">
		  <f7-link href="/"><f7-icon f7="house" size="24px"></f7-icon></f7-link>
		  <f7-link href="/contact-us/"><f7-icon f7="placemark" size="24px"></f7-icon></f7-link>
		  <f7-link href="/product-list/" class="product-list-page"><span class="icon-product"><f7-icon class="cooking-hat hat-icon"></f7-icon></span></f7-link>
		  <f7-link href="/"><f7-icon f7="phone" size="24px"></f7-icon></f7-link>
		  <f7-link href="/userprofile/"><f7-icon f7="person" size="24px"></f7-icon></f7-link>
		</f7-toolbar>

    	<f7-block class="m-0 title-block drak-theme-bg">
      		<f7-row tag="div">
				<f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
            		Contact us
				</f7-col>
			</f7-row>
			<div class="titlePanel t-white">
				<f7-row>
					<f7-col width="20">
						<span class="commontitle">
							<f7-icon f7="envelope_open" class="page-icon f-18"></f7-icon>
						</span>
					</f7-col>
				</f7-row>
			</div>
		</f7-block>

		<f7-block-title>Contact Information</f7-block-title>
		<f7-block strong inset class="box-shadow">
			<f7-list media-list class="mt-0 mb-1 list-gap-0 contact-list">
				<f7-list-item title="Address">
					<f7-icon slot="media" f7="placemark" size="22"></f7-icon>
					<span text="title">
						9813 W Markham<br>
						Little Rock, Arkansas 72205,<br>
						United States
					</span>
				</f7-list-item>
				<f7-list-item title="Call Us">
					<f7-icon slot="media" f7="phone" size="22"></f7-icon>
					<span text="title">
						+15014134769
					</span>
				</f7-list-item>
				<f7-list-item title="Email Us">
					<f7-icon slot="media" f7="envelope_open" size="22"></f7-icon>
					<span text="title">
						info@cheesecakeonpoint.com
					</span>
				</f7-list-item>
			</f7-list>
			<f7-block-header>Follow us</f7-block-header>
			<f7-list class="m-0 list-gap-0">
				<f7-list-item link="https://www.facebook.com/cheesecakeonpoint" title="Facebook" class="panel-close" external>
					<f7-icon slot="media" size="20" f7="logo_facebook"></f7-icon>
				</f7-list-item>
				<f7-list-item link="https://www.instagram.com/cheesecakeonpoint/" title="Instagram" class="panel-close" external>
					<f7-icon slot="media" size="20" f7="logo_instagram"></f7-icon>
				</f7-list-item>
			</f7-list>
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>

</style>