<template>
<f7-page name="foodtruck" class="bg-white foodtruckPage increase-pageContent">

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page"><span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span></f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                Dessert Food Truck
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon material="local_shipping" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>

    <f7-block>
        <f7-card class="about-content m-0">
            <f7-card-header class="no-border" valign="bottom" :style="`background-image:url(`+foodTruckPageImage+`)`">Our Cheesecake DESSERT trailer!</f7-card-header>
            <f7-card-content>
                <h2 class="mt-0">Cheesecake on point!</h2>
                <p>Stop by our <b>Cheesecake on Point!</b> Dessert Truck, open Thursday – Saturday from 12 PM to 6 PM, for your own cheesecake cupcake! We rotate locations, so make sure to follow us on Facebook to know where to find us this week. We offer several different flavors and quantities to provide personalized orders. Did we mention our Dessert Truck is also available for booking for any corporate event? What better way to get people excited than homemade cheesecake? </p>
                <p>Email us for more info:<br>info@cheesecakeonpoint.com</p>
            </f7-card-content>
        </f7-card>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    data: function () {
        return {
            foodTruckPageImage: require("../css/images/dessert-food-truck.png").default,
        }
    },
    methods: {

    },
    created() {

    },
}
</script>

<style>

</style>
