<template>
	<f7-page name="forgot" class="bg-white forgotPage">
		<f7-navbar class="t-black introNav">
			<f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title></f7-nav-title>
			<f7-nav-right></f7-nav-right>
		</f7-navbar>
		<f7-block class="m-0 from-content text-align-center">
			<i class="cheesecake-login-logo"></i>
			<h1 class="mb-0">Forgot Password</h1>
			<p class="m-0">Please insert email address</p>
		</f7-block>
		<f7-block class="m-0 common-from">
			<f7-list no-hairlines-md class="m-0">
				<f7-list-input
					class="mt-1 mb-1"
					outline
					label="E-mail"
					floating-label
					type="email"
					placeholder="Your e-mail"
					clear-button
				>
				</f7-list-input>
				<button class="button button-large button-fill btn-theme">Send</button>
			</f7-list>
			<p class="text-align-center text-color-gray fw-3">Check your email after send</p>
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>

</style>
