<template>
	<f7-page name="gallery" class="bg-white galleryPage increase-pageContent">
    	<f7-navbar class="t-black navbar-increase">
			<f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title>
				<f7-link link="/" class="cheesecake-logo"><i class="cheesecake-nav-logo"></i></f7-link>
			</f7-nav-title>
			<f7-nav-right>
				<f7-link sheet-open=".product-cart-sheet">
					<span class="cart-badge">12</span>
					<f7-icon f7="cart" size="26px" color="black"></f7-icon>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>
		
		<!-- Bottom Toolbar-->
		<f7-toolbar bottom class="bottom-menu">
		  <f7-link href="/"><f7-icon f7="house" size="24px"></f7-icon></f7-link>
		  <f7-link href="/contact-us/"><f7-icon f7="placemark" size="24px"></f7-icon></f7-link>
		  <f7-link href="/product-list/" class="product-list-page"><span class="icon-product"><f7-icon class="cooking-hat hat-icon"></f7-icon></span></f7-link>
		  <f7-link href="/"><f7-icon f7="phone" size="24px"></f7-icon></f7-link>
		  <f7-link href="/userprofile/"><f7-icon f7="person" size="24px"></f7-icon></f7-link>
		</f7-toolbar>

    	<f7-block class="m-0 title-block drak-theme-bg">
      		<f7-row tag="div">
				<f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
					Gallery
				</f7-col>
			</f7-row>
			<div class="titlePanel t-white">
				<f7-row>
					<f7-col width="20">
						<span class="commontitle">
							<f7-icon f7="photo_on_rectangle" class="page-icon f-18"></f7-icon>
						</span>
					</f7-col>
				</f7-row>
			</div>
		</f7-block>

		<f7-block strong class="gallery-image">
			<f7-row no-gap>
				<f7-col width="50">
					<f7-link @click="$refs.photoGallery.open()">
						<img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" />
					</f7-link>
				</f7-col>
				<f7-col width="50">
					<f7-link @click="$refs.photoGallery.open()">
						<img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" />
					</f7-link>
				</f7-col>
				<f7-col width="50">
					<f7-link @click="$refs.photoGallery.open()">
						<img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" />
					</f7-link>
				</f7-col>
				<f7-col width="50">
					<f7-link @click="$refs.photoGallery.open()">
						<img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" />
					</f7-link>
				</f7-col>
			</f7-row>
			<f7-photo-browser :photos="photoGallery" ref="photoGallery"></f7-photo-browser>
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
        data() {
			return {
				photoGallery: [
					{
						url: 'https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg',
						//caption: 'Amazing beach in Goa, India',
					},
					{
						url: 'https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg',
						//caption: 'I met this monkey in Chinese mountains',
					},
					{
						url: 'https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg',
						//caption: 'Beautiful mountains in Zhangjiajie, China',
					},
				],
			};
		},
        methods: {

        },
        created() {

        },
    }
</script>
<style>

</style>