<template>
<f7-page name="home" class="homePage">
    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page">
            <span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span>
        </f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <!-- Page content-->
    <f7-block class="mt-1">
        <f7-card class="home-content m-0">
            <f7-card-header class="no-border" valign="bottom" :style="`background-image:url(`+homePageIcon+`)`">Want to try our Cheesecake?</f7-card-header>
            <f7-card-content class="text-align-center">
                <f7-button href="/product-list/" large fill round color="red" class="btn-delicious-cake">CHECK OUT ALL OPTIONS</f7-button>
                <h2 class="mb-0">Cheesecake on point!</h2>
                <p>At <strong>Cheesecake on Point!</strong> we are always happy to fill orders for parties, meetings, or anyone craving a sweet treat. Each cheesecake or cheesecake cupcake is made from scratch with fresh, high quality ingredients and garnished with tasty toppings to ensure they look just as good as they taste! The care and effort we put into making our gourmet cheesecakes will come through with each bite.</p>
            </f7-card-content>
        </f7-card>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    data: function () {
        return {
            homePageIcon: require("../css/images/home-page.png").default,
        };
    },
    methods: {},
    created() {},
};
</script>

<style scoped>
.card-header {
    color: white !important;
    font-size: 16px;
    font-weight: bolder;
}
</style>
