<template>
<f7-page name="intro" class="bg-white introPage">
    <f7-navbar class="t-black introNav">
        <f7-nav-left></f7-nav-left>
        <f7-nav-title></f7-nav-title>
        <f7-nav-right></f7-nav-right>
    </f7-navbar>
    <f7-block class="m-0">
        <f7-row>
            <f7-col>
                <carousel class="welcomeSilde" :autoplay="false" :nav="false" :items="1" :autoHeight="true" :dots="true">
                    <div class="introSlide text-align-center">
                        <i class="welcome-icon fresh-cake-icon"></i>
                        <h1>Fresh Cheesecake</h1>
                        <p>Cheesecake on point! offers a variety of delicious cheesecake flavors. Each cheesecake is made from scratch with fresh, high quality ingredients and garnished with tasty toppings to ensure they look just as good as they taste. </p>
                    </div>
                    <div class="introSlide text-align-center">
                        <i class="welcome-icon select-cart-iocn"></i>
                        <h1>Select Cheesecake</h1>
                        <p>Our cheesecakes come in compact cupcake-size, as well as full cakes. With our changing flavors and large selection, it only makes sense to mix and match. Our app allows you to select your order quantity and specify your favorite flavors. </p>
                    </div>
                    <div class="introSlide text-align-center">
                        <i class="welcome-icon delivery-icon"></i>
                        <h1>Select Options</h1>
                        <p>For your convenience, our app offers different options to get your cheesecake. Come by our location and pick up your cheesecake after placing your order. Or better yet, stay at home and use our delivery service to bring it to your front door!</p>
                    </div>
                    <div class="introSlide text-align-center">
                        <i class="welcome-icon easypay-icon"></i>
                        <h1>Easy Payment</h1>
                        <p>Pay whichever way works best for you. Our app gives you the option to pay now with a card or use cash when you pick up your order. Enjoy!</p>
                        <f7-row tag="p">
                            <f7-col tag="span" width="25"></f7-col>
                            <f7-col tag="span" width="50">
                                <f7-button fill round href="/login/" @click="getStarted" class="btn-theme">Get Started</f7-button>
                            </f7-col>
                            <f7-col tag="span" width="25"></f7-col>
                        </f7-row>
                    </div>
                    <template slot="next">
                        <div class="display-flex padding justify-content-space-between align-items-center">
                            <div>
                                <f7-button href="/login/" @click="getStarted" fill round color="red">Skip</f7-button>
                            </div>
                            <div>
                                <f7-button class="next btn-next" outline round>Next</f7-button>
                            </div>
                        </div>
                    </template>
                </carousel>
                <!--<f7-swiper class="tour-gallery-image" navigation :params="{speed:500, slidesPerView: 1, spaceBetween: 20}">

<f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>

<f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>

<f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>

</f7-swiper>-->
            </f7-col>
        </f7-row>
    </f7-block>
</f7-page>
</template>

<script>
// Import Owl carousel
import carousel from 'vue-owl-carousel'
export default {
    components: {
        carousel
    },
    data: function () {
        return {

        }
    },
    methods: {
        getStarted() {
            localStorage.setItem('app-initialized', 1);
        }
    },
    created() {

    },
}
</script>

<style>
.welcomeSilde {}

.welcomeSilde .owl-dots .owl-dot {
    width: 10px;
    margin-right: 4px;
}

.welcomeSilde .owl-dots .owl-dot.active {
    width: 28px;
}

.welcomeSilde .owl-dots .owl-dot.active span {
    width: 28px;
}

.welcomeSilde .owl-dots .owl-dot span {
    margin: 4px 0px;
}

.welcomeSilde .btn-next {
    border: 1px solid #dddddd;
    color: #000000;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
}
</style>
