<template>
    <f7-page class="no-internet">
        <f7-block class="notFound text-align-center m-0">
            <i class="note-found"></i>
            <h2>NO INTERNET</h2>
            <p>Currently you are offline.</p>
            <f7-row>
                <f7-col width="50">
                    <f7-button large fill color="green" @click="refreshApp">Refresh</f7-button>
                </f7-col>
                <f7-col width="50">
                    <f7-button class="back" large fill color="red" @click="exitApp">Exit</f7-button>
                </f7-col>
            </f7-row>
        </f7-block>
    </f7-page>
</template>
<script>
    export default {
        name:'no-internet',
        data(){
            return{

            };
        },
        methods:{
            exitApp(){
                navigator.app.exitApp();
            },
            refreshApp(){
                if(navigator.onLine){
                    this.$f7router.navigate('/home/');
                }
            }
        }
    };
</script>