<template>
<f7-page name="privacypolicy" class="bg-white privacypolicyPage increase-pageContent">
    <f7-navbar class="t-black navbar-increase">
        <f7-nav-left>
            <f7-link href="#" class="back">
                <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
            </f7-link>
        </f7-nav-left>
        <f7-nav-title>
            <f7-link link="/" class="cheesecake-logo"><i class="cheesecake-nav-logo"></i></f7-link>
        </f7-nav-title>
        <f7-nav-right>
            <f7-link sheet-open=".product-cart-sheet">
                <span class="cart-badge">12</span>
                <f7-icon f7="cart" size="26px" color="black"></f7-icon>
            </f7-link>
        </f7-nav-right>
    </f7-navbar>

    <!-- Bottom Toolbar-->
    <f7-toolbar bottom class="bottom-menu">
        <f7-link href="/">
            <f7-icon f7="house" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/contact-us/">
            <f7-icon f7="placemark" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/product-list/" class="product-list-page"><span class="icon-product">
                <f7-icon class="cooking-hat hat-icon"></f7-icon>
            </span></f7-link>
        <f7-link href="/">
            <f7-icon f7="phone" size="24px"></f7-icon>
        </f7-link>
        <f7-link href="/userprofile/">
            <f7-icon f7="person" size="24px"></f7-icon>
        </f7-link>
    </f7-toolbar>

    <f7-block class="m-0 title-block drak-theme-bg">
        <f7-row tag="div">
            <f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
                Privacy Policy
            </f7-col>
        </f7-row>
        <div class="titlePanel t-white">
            <f7-row>
                <f7-col width="20">
                    <span class="commontitle">
                        <f7-icon f7="shield" class="page-icon f-18"></f7-icon>
                    </span>
                </f7-col>
            </f7-row>
        </div>
    </f7-block>

    <f7-block-title>Privacy Policy</f7-block-title>
    <f7-block strong>
        <p><b>Cheesecake on Point!</b> respects the privacy of our users and has developed a privacy policy to show our commitment to your protection. Our privacy policy will be a description available to you of the information collected, how we will use it, your choices about disclosing any information and who will have access to it. We encourage users to read the privacy policy thoroughly while using any of our services or making any transactions with us. By using our services or website you are accepting the terms outlined within this privacy policy.  If you have any questions about our privacy practices, please refer to our contact information to reach out and we will be happy to answer.</p>
    </f7-block>
</f7-page>
</template>

<script>
export default {
    data: function () {
        return {

        }
    },
    methods: {

    },
    created() {

    },
}
</script>

<style>

</style>
