<template>
  <f7-page name="productgallerypage" class="bg-white productgalleryPage">
    <f7-navbar class="bg-white t-black">
      <f7-nav-left>
        <f7-link href="#" class="back" ></f7-link>
      </f7-nav-left>
      <f7-nav-title>Gallery</f7-nav-title>
      <f7-nav-right><f7-link href="#" class="back" ><f7-icon f7="multiply" size="24px" color="black"></f7-icon></f7-link></f7-nav-right>
    </f7-navbar>
    <f7-block>
      <f7-row>
        <f7-col>
            <f7-swiper class="tour-gallery-image" navigation :params="{speed:500, slidesPerView: 1, spaceBetween: 20}">
                <f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>
                <f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>
                <f7-swiper-slide><img src="https://cdn.framework7.io/placeholder/nature-1000x600-3.jpg" alt="" /></f7-swiper-slide>
            </f7-swiper>
        </f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>
/* A bit of demo styles */
.tour-gallery-image .swiper-slide img{
  max-width:100%;
}
</style>
