<template>
  	<f7-page name="tramsconditions" class="bg-white tramsconditionsPage increase-pageContent">
   		 <f7-navbar class="t-black navbar-increase">
			<f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left>
			<f7-nav-title>
				<f7-link link="/" class="cheesecake-logo"><i class="cheesecake-nav-logo"></i></f7-link>
			</f7-nav-title>
			<f7-nav-right>
				<f7-link sheet-open=".product-cart-sheet">
					<span class="cart-badge">12</span>
					<f7-icon f7="cart" size="26px" color="black"></f7-icon>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>
		
		<!-- Bottom Toolbar-->
		<f7-toolbar bottom class="bottom-menu">
		  <f7-link href="/"><f7-icon f7="house" size="24px"></f7-icon></f7-link>
		  <f7-link href="/contact-us/"><f7-icon f7="placemark" size="24px"></f7-icon></f7-link>
		  <f7-link href="/product-list/" class="product-list-page"><span class="icon-product"><f7-icon class="cooking-hat hat-icon"></f7-icon></span></f7-link>
		  <f7-link href="/"><f7-icon f7="phone" size="24px"></f7-icon></f7-link>
		  <f7-link href="/userprofile/"><f7-icon f7="person" size="24px"></f7-icon></f7-link>
		</f7-toolbar>

    	<f7-block class="m-0 title-block drak-theme-bg">
      		<f7-row tag="div">
				<f7-col tag="h2" class="white mt-1 text-align-center text-color-white">
            		Trams & Conditions
				</f7-col>
			</f7-row>
			<div class="titlePanel t-white">
				<f7-row>
					<f7-col width="20">
						<span class="commontitle">
							<f7-icon f7="doc_plaintext" class="page-icon f-18"></f7-icon>
						</span>
					</f7-col>
				</f7-row>
			</div>
		</f7-block>

		<f7-block-title>Trams & Conditions</f7-block-title>
		<f7-block strong>
			<p>Please read these terms and conditions outlined carefully before accessing or using any <strong>Cheesecake on Point!</strong> services or websites. By accessing and using our services you agree to these terms and conditions as well as our Privacy Policy. If you do not accept these terms and conditions, then our services will not be accessible. In these terms and conditions outlined, plural pronouns refer to the business <strong>Cheesecake on Point!</strong> We may modify our terms and conditions at any time and must provide the updated version. Continued use of our services after a release of the updated version is an agreement to the updated terms. Please review the terms periodically for updates.</p>
		</f7-block>
	</f7-page>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>

</style>