<template>
    <form method="post" @submit.prevent="saveFlavor">

        <div class="form-group">
            <label for="flavor_name">Flavor Name:</label>
            <input  type="text"
                    class="form-control"
                    placeholder="Flavor Name"
                    v-model="flavor.flavor_name"
                    v-bind:class="{'is-invalid':validationErrors.flavor_name}"
                    id="flavor_name"/>
            <small class="text-danger" v-if="validationErrors.flavor_name">{{ validationErrors.flavor_name[0] }}</small>
        </div>
        <div class="form-group">
            <label for="flavor_note">Flavor Note:</label>
            <input  type="text"
                    class="form-control"
                    placeholder="Flavor Note"
                    v-model="flavor.flavor_note"
                    v-bind:class="{'is-invalid':validationErrors.flavor_note}"
                    id="flavor_note"/>
            <small class="text-danger" v-if="validationErrors.flavor_note">{{ validationErrors.flavor_note[0] }}</small>
        </div>
        <div class="form-group">
            <label for="flavor_stock_qty">Flavor Stock Qty:</label>
            <input  type="number"
                    class="form-control"
                    placeholder="Flavor stock qty"
                    v-bind:class="{'is-invalid':validationErrors.flavor_stock_qty}"
                    v-model.number="flavor.flavor_stock_qty"
                    id="flavor_stock_qty"/>
            <small class="text-danger" v-if="validationErrors.flavor_stock_qty">{{ validationErrors.flavor_stock_qty[0] }}</small>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-danger">Cancel</button>

    </form>
</template>
<script>
export default {
    name:'FlavorAdd',
    data(){
        return{
            flavor:{
                flavor_name:'',
                flavor_note:'',
                flavor_stock_qty:0,
            },
        }
    },
    methods:{
        saveFlavor(){
            this.$store.dispatch('createFlavor',this.flavor);
        }
    },
    computed:{
        validationErrors(){
            return this.$store.getters.flavorValidationErrors;
        }
    }
}
</script>
