<template>
<div>
    <div class="table-responsive">
		<table class="table table-bordered table-hover table-sm" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th width="5%">ID</th>
					<th width="25%">Name Flavors</th>
					<th width="30%">Flavor Note</th>
					<th width="15%">Stock Qty</th>
					<th width="10%">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(flavor,index) in flavors" :key="index">
					<td>{{ flavor.id }}</td>
					<td>{{ flavor.flavor_name }}</td>
					<td>{{ flavor.flavor_note }}</td>
					<td><span class="badge badge-success badge-pill font-size-16">{{ flavor.flavor_stock_qty }}</span></td>
					<td>
						<button class="btn btn-outline-primary btn-sm" 
								data-toggle="tooltip" 
								data-placement="top" 
								@click="editFlavor(flavor.id)"
								title="" 
								data-original-title="Edit Flavors">
							<i class="far fa-edit"></i> 
						</button>
						<button class="btn btn-outline-danger btn-sm" 
								data-toggle="tooltip" 
								data-placement="top" 
								title="" 
								@click="deleteFlavor(flavor.id)"
								data-original-title="Delete Flavors">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
				<tr>
					<td colspan="5" v-if="!flavors.length">
						<div class="alert alert-danger text-center" role="alert">
							Sorry, No flavor found in database
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav class="mb-0">
		<ul class="pagination mb-0">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
</div>
</template>

<script>
export default {
    name:'FlavorList',
	methods:{
		deleteFlavor(flavorId){
			this.$helpers.confirmDelete(()=>{
				this.$store.dispatch('deleteFlavor',flavorId);
			});
		},
		editFlavor(flavorId){
			this.$store.dispatch('editFlavor',flavorId);
		}
	},
	created(){
		this.$store.dispatch('getFlavors');
	},
	computed:{
		flavors(){
			return this.$store.getters.flavors;
		}
	}
}
</script>
