<template>
    <div>
        <PageHeader page-titile="Flavors" page-sub-title="You can add flavors here." />
        <div class="container-fluid mt-n10">

            <!-- Content Row -->
            <div class="pages-contents">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card mb-4">
                            <div class="card-header h4">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h1 class="h4 mb-0 font-weight-bold text-black">All Flavors</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 p-xl-4">
                                    <FlavorAdd :key="flavorAddComponentKey" v-if="!showFlavorEditForm"/>
                                    <FlavorEdit v-if="showFlavorEditForm"/>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <div class="on-delivery">
                                            <FlashMessage :message="flashMessage"/>
                                            <FlavorList/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import FlavorAdd from '../flavors/FlavorAdd';
    import FlavorList from '../flavors/FlavorList';
    import PageHeader from '../../../layouts/PageHeader';
    import FlavorEdit from '../flavors/FlavorEdit';
    import FlashMessage from '../../../FlashMessage';

    export default {
        name: 'Flavor',
        data() {
            return {
                
            }
        },
        components: {
            FlavorAdd,
            FlavorList,
            FlavorEdit,
            PageHeader,
            FlashMessage,
        },
        methods:{

        },
        computed:{
            flavorAddComponentKey(){
                return this.$store.getters.flavorAddComponentKey;
            },
            flashMessage(){
                return this.$store.getters.flashMessage;
            },
            showFlavorEditForm(){
                return this.$store.getters.showFlavorEditForm;
            }
        }
    }
</script>
