<template>
  <f7-app :params="f7params">
    <!-- Left panel with cover effect-->
    <f7-panel left @panel:open="refreshMenu">
      <SideMenu :key="menuKey" />
    </f7-panel>

    <!-- Your main view, should have "view-main" class -->
    <f7-view main class="safe-areas" url="/">
      <nav-bar v-if="$store.getters.isLoggedIn" :current-route="navBarCurrentRoute"></nav-bar>
    </f7-view>

    <f7-login-screen id="my-login-screen">
      <f7-view>
        <f7-page login-screen>
          <f7-login-screen-title>Login</f7-login-screen-title>
          <f7-list form>
            <f7-list-input
              type="text"
              name="username"
              placeholder="Your username"
              :value="username"
              @input="username = $event.target.value"
            ></f7-list-input>
            <f7-list-input
              type="password"
              name="password"
              placeholder="Your password"
              :value="password"
              @input="password = $event.target.value"
            ></f7-list-input>
          </f7-list>
          <f7-list>
            <f7-list-button title="Sign In" @click="alertLoginData"></f7-list-button>
            <f7-block-footer>
              Some text about login information.
              <br />Click "Sign In" to close Login Screen
            </f7-block-footer>
          </f7-list>
        </f7-page>
      </f7-view>
    </f7-login-screen>
  </f7-app>
</template>
<script>
import { Device } from "framework7/framework7-lite.esm.bundle.js";
import cordovaApp from "../js/cordova-app.js";
import routes from "../js/routes";
import SideMenu from "../components/menu";
import NavBar from "../components/nav-bar";

export default {
  components: {
    SideMenu,
    NavBar,
  },
  data() {
    return {
      // Framework7 Parameters
      f7params: {
        id: "cheesecake.onpoint.com", // App bundle ID
        name: "cheesecakeonpoint", // App name
        theme: "auto", // Automatic theme detection

        // App routes
        routes: routes,

        // Register service worker
        serviceWorker: Device.cordova
          ? {}
          : {
              path: "/service-worker.js",
            },
        // Input settings
        input: {
          scrollIntoViewOnFocus: Device.cordova && !Device.electron,
          scrollIntoViewCentered: Device.cordova && !Device.electron,
        },
        // Cordova Statusbar settings
        statusbar: {
          iosOverlaysWebView: true,
          androidOverlaysWebView: false,
        },
      },

      // Login screen data
      username: "",
      password: "",
      //menu key
      menuKey: 0,
      navBarCurrentRoute: "",
    };
  },
  methods: {
    alertLoginData() {
      this.$f7.dialog.alert(
        "Username: " + this.username + "<br>Password: " + this.password,
        () => {
          this.$f7.loginScreen.close();
        }
      );
    },

    refreshMenu() {
      this.menuKey += 1;
    },
  },
  mounted() {
    this.$f7ready((f7) => {
      this.$f7.on("routeChange", (newRoute, previousRoute) => {
        console.log(newRoute);
        this.navBarCurrentRoute = newRoute.path;
      });
      if (Device.cordova) {
        cordovaApp.init(f7);
      }
      // Call F7 APIs here
    });
  },
};
</script>