<template>
<div>
    <f7-block-title class="mt-2">Your Bill</f7-block-title>
    <f7-block strong inset class="box-shadow">
        <div class="display-flex justify-content-space-between align-items-center">
            <div class="f-18">Subtotal</div>
            <div class="f-18">
                <b>{{ $store.getters.getCartSubTotal | currencyFormat }}</b>
            </div>
        </div>
        <div class="display-flex justify-content-space-between align-items-center text-color-gray">
            <div class="f-12">Discount</div>
            <div class="f-12">
                <b>- {{ $store.getters.getCartDiscount | currencyFormat }}</b>
            </div>
        </div>
        <div class="display-flex justify-content-space-between align-items-center text-color-gray">
            <div class="f-12">Tax</div>
            <div class="f-12">
                <b></b>
            </div>
        </div>
        <div class="display-flex justify-content-space-between align-items-center text-color-gray">
            <div class="f-12">Delivery charge</div>
            <div class="f-12">
                <b>+ {{ $store.getters.getCartDeliveryCharge | currencyFormat }}</b>
            </div>
        </div>
        <hr />
        <div class="display-flex justify-content-space-between align-items-center popup-total">
            <div class="f-22">Total</div>
            <div class="f-22">
                <b>{{ $store.getters.getCartTotal | currencyFormat }}</b>
            </div>
        </div>
    </f7-block>
</div>
</template>

<script>
export default {
    name: 'cart-bill',
}
</script>
