<template>
    <div>

    <f7-list media-list class="popup-pridyct-list m-0">
        <!-- Product Items Loop -->
        <f7-list-item
                v-for="(cart,index) in cartItems"
                :key="index"
                swipeout
                :title="cart.productDetails.product_name"
                :after="cart.price|currencyFormat"
                :text="cart.productDetails.product_description"
        >
            <!--					<img slot="media" src="https://cdn.framework7.io/placeholder/people-160x160-1.jpg" width="80" />-->
            <div slot="footer">
                <f7-chip
                        v-if="cart.productDetails.product_type==='cup'"
                        v-for="(selectedFlavor,index) in cart.selectedFlavors"
                        :key="index"
                        :text="selectedFlavor.flavor_name"
                        media-bg-color="pink"
                        :media="selectedFlavor.flavor_qty"
                ></f7-chip>
                <f7-stepper
                        v-if="cart.productDetails.product_type==='whole'"
                        raised
                        color="gray"
                        :value="cart.quantity"
                        @input="updateWholeCakeQuantity($event,cart)"
                ></f7-stepper>
            </div>
            <f7-swipeout-actions right>
                <f7-swipeout-button color="red" @click="cartItemDelete(index)">
                    <f7-icon f7="trash" size="34px" color="white"></f7-icon>
                </f7-swipeout-button>
            </f7-swipeout-actions>
        </f7-list-item>
    </f7-list>
    <f7-block strong inset class="empty-cart-alert f-14 my-1 block-title" v-if="!cartItems.length">
        <b>Sorry</b> Your cart is empty
    </f7-block>
    </div>
</template>

<script>
    export default {
        name:'cart-row',
        props:{
          rowNumbers:{
              type:Number,
              required: false,
          }
        },
        data(){
            return{

            }
        },
        methods: {
            cartItemDelete(index) {
                this.$f7.dialog.confirm("Are you sure to delete?", "Cheese Cake", () => {
                    this.cartItems.splice(index, 1);
                    this.$store.commit("UPDATE_CART", this.cartItems);
                });
            },
            updateWholeCakeQuantity(event, cart) {
                cart.quantity = Number.parseInt(event.target.value);
                cart.selectedFlavors[0].flavor_qty=cart.quantity;
                cart.price =
                    Number.parseInt(event.target.value) *
                    Number.parseFloat(cart.productDetails.product_price);
                this.$store.commit("UPDATE_CART", this.cartItems);
            },
        },
        created() {
            console.log(this.rowNumbers);
        },
        computed: {
            cartItems() {
                let cartItems=this.$store.getters.getCartItems;
                //to show only inserted number of rows
                if(typeof this.rowNumbers!="undefined"){
                    return cartItems.slice(0,this.rowNumbers);
                }
                return cartItems;
            },
        },
    };
</script>

<style scoped>
    .empty-cart-alert {
        background: red;
    }
</style>