<template>
  <div class="padding">
    <div class="product-discreptions f-12">{{ productDetails.product_description }}</div>
    <f7-row>
      <f7-col>
        <f7-list no-hairlines-md class="m-0 choose-packages">
          <f7-list-input
            @change="showPackagePrice($event)"
            label="Packages"
            type="select"
            placeholder="Please choose..."
          >
            <option value>Select Package</option>
            <option
              v-for="(p,index) in productDetails.packages"
              :key="index"
              :value="index"
            >{{ p.package_name }}</option>
          </f7-list-input>
        </f7-list>
      </f7-col>
      <f7-col>
        <f7-button
          raised
          fill
          large
          class="btn-theme"
          sheet-open=".popup-flavors-sheet"
          @click="!showFlavorPopup?$f7.dialog.alert('Please, select a package'):''"
        >Add Flavors</f7-button>
      </f7-col>
    </f7-row>
    <!--    <f7-block class="add-flavors-note f-14 my-1">-->
    <!--      Select-->
    <!--      <b>Package</b> and-->
    <!--      <b>Flavors</b>-->
    <!--    </f7-block>-->
    <!-- This block is show after select Flavors -->
    <f7-block class="p-0 my-1">
      <f7-block-title class="fw-3">Flavors you have selectd</f7-block-title>
      <f7-block-title
        v-if="!confirmedSelectedFlavors.length"
        class="add-flavors-note f-14 my-1"
      >No flavors selectd</f7-block-title>
      <f7-list
        class="m-0 user-flavors-list"
        v-for="(flavor,index) in confirmedSelectedFlavors"
        :key="index"
      >
        <f7-list-item :title="flavor.flavor_name" :badge="flavor.flavor_qty"></f7-list-item>
      </f7-list>
    </f7-block>

    <f7-row>
      <f7-col>
        <span class="f-18 producr-price">
          Price:
          <b>${{ productDetails.product_price }}</b>
        </span>
      </f7-col>
      <f7-col>
        <f7-button raised fill large color="green" @click="addToCart">Add to Bag</f7-button>
      </f7-col>
    </f7-row>
    <!-- Popup Flavors Sheet -->
    <PopupFlavors
      v-if="showFlavorPopup"
      @flavorConfirmed="flavorConfirmed"
      :flavors="productDetails.flavors"
      :package-qty="productDetails.package_qty"
    />
  </div>
</template>

<script>
import PopupFlavors from "../components/popup-flavors";
export default {
  name: "cup-cake-details",
  components: {
    PopupFlavors,
  },
  props: {
    productDetails: {
      type: Object,
    },
  },
  data() {
    return {
      showFlavorPopup: false,
      confirmedSelectedFlavors: [],
      cartItems: [],
    };
  },
  methods: {
    showPackagePrice(event) {
      this.productDetails.product_price = this.productDetails.packages[
        event.target.value
      ].package_price;
      this.productDetails.package_qty = Number.parseInt(
        this.productDetails.packages[event.target.value].package_name
      );
      this.showFlavorPopup = true;
      this.confirmedSelectedFlavors = [];
    },
    flavorConfirmed(selectedFlavors) {
      this.confirmedSelectedFlavors = selectedFlavors;
    },
    addToCart() {
      if (!this.confirmedSelectedFlavors.length) {
        this.$f7.dialog.alert("Please, select package and flavors");
        return;
      }

      this.cartItems = {
        productDetails: this.productDetails,
        selectedPackage: this.productDetails.package_qty,
        price: this.productDetails.product_price,
        selectedFlavors: this.confirmedSelectedFlavors,
      };
      this.$store.commit("ADD_TO_CART", this.cartItems);
      this.$f7router.navigate("/cart-view/");
    },
  },
  created() {
    console.log(this.$f7router);
  },
};
</script>
<style scoped>
</style>