<template>
<f7-block strong inset class="box-shadow my-0">

    <!-- Common options -->
    <div class="common-options-box">
        <f7-list class="m-0 homeDelivery">
            <f7-list-item title="Home Delivery" after="$12.00">
                <f7-icon slot="media" size="24" material="local_shipping"></f7-icon>
                <f7-toggle slot="after" @toggle:change="toggleDeliveryCharge" :checked="$store.getters.getCartDeliveryCharge!=0?true:false"></f7-toggle>
            </f7-list-item>
            <f7-block-footer class="m-0 p-0">
                <div class="display-flex justify-content-space-between align-items-center">
                    <div class="f-12">For <b>Home Delivery</b> add flat rate.</div>
                    <div class="f-12">
                        <f7-link href="/product-list/" sheet-close>More shopping</f7-link>
                    </div>
                </div>
            </f7-block-footer>
        </f7-list>
        <f7-list no-hairlines-md class="m-0 discount-code">
            <f7-list-input outline label="Enter discount code" floating-label type="text" placeholder="discount code" clear-button>
            </f7-list-input>
        </f7-list>
    </div>

</f7-block>
</template>

<script>
export default {
    name: 'discount-and-delivery-charge',
    data() {
        return {

        }
    },
    methods: {
        toggleDeliveryCharge(toggle) {
            this.$store.commit('SET_DELIVERY_CHARGE', toggle ? 12 : 0); //by default delivery charge 12
        }
    },
}
</script>
