<template>
  <f7-page name="nave" class="sidebar-nave bg-white">
    <f7-navbar>
      <f7-nav-left></f7-nav-left>
      <f7-nav-title>
        <i class="cheesecake-nav-logo"></i>
      </f7-nav-title>
      <f7-nav-right>
        <f7-link class="panel-close">
          <f7-icon size="28" f7="delete_left_fill" color="red"></f7-icon>
        </f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-block class="m-0 busingss-hours p-1">
      <f7-block-title>Business hours</f7-block-title>
      <f7-list class="m-0">
        <f7-list-item title="Monday - Saturday" badge="Open">
          <f7-icon slot="media" size="20" f7="clock" color="white"></f7-icon>
        </f7-list-item>
        <f7-list-item title="Sunday" badge="Closed">
          <f7-icon slot="media" size="20" f7="clock" color="white"></f7-icon>
        </f7-list-item>
      </f7-list>
      <f7-block-footer>Cheesecake on point! by cinnalightful</f7-block-footer>
    </f7-block>
    <f7-list class="appMenu">
      <template>
        <f7-list-item link="/order-list/" title="Order List" class="panel-close">
          <f7-icon slot="media" size="20" f7="bag">
            <f7-badge color="red">1</f7-badge>
          </f7-icon>
        </f7-list-item>
        <f7-list-item link="/about/" title="About us" class="panel-close">
          <!--after="CEO" -->
          <f7-icon slot="media" size="20" f7="doc_richtext"></f7-icon>
        </f7-list-item>
        <!-- <f7-list-item link="/gallery/" title="Gallery" class="panel-close">
					<f7-icon slot="media" size="20" f7="photo_on_rectangle"></f7-icon>
        </f7-list-item>-->
        <f7-list-item link="/food-truck/" title="Dessert Food Truck" class="panel-close">
          <f7-icon slot="media" size="20" material="local_shipping"></f7-icon>
        </f7-list-item>
        <f7-list-item link="/contact-us/" title="Contact us" class="panel-close">
          <f7-icon slot="media" size="20" f7="envelope_open"></f7-icon>
        </f7-list-item>
        <f7-list-item
          link="https://www.facebook.com/cheesecakeonpoint"
          title="Facebook"
          class="panel-close"
          external
        >
          <f7-icon slot="media" size="20" f7="logo_facebook"></f7-icon>
        </f7-list-item>
        <f7-list-item
          link="https://www.instagram.com/cheesecakeonpoint/"
          title="Instagram"
          class="panel-close"
          external
        >
          <f7-icon slot="media" size="20" f7="logo_instagram"></f7-icon>
        </f7-list-item>
      </template>
    </f7-list>
    <f7-block class="m-0 copy-right">Design & Developed by webeven.com</f7-block>
  </f7-page>
</template>
<script>
export default {
  name: "menu",
  data() {
    return {};
  },
};
</script>
