<template>
  <div>
    <f7-navbar class="t-black navbar-increase">
      <f7-nav-left>
        <template v-if="currentRoute=='/' || currentRoute=='/home'">
          <f7-link class="menuPanel" panel-open="left">
            <f7-icon f7="text_alignleft" size="24px" color="black"></f7-icon>
          </f7-link>
        </template>
        <template v-else>
          <f7-link href="#" class="back" v-if="currentRoute!='/'">
            <f7-icon f7="chevron_left" size="24px" color="black"></f7-icon>
          </f7-link>
        </template>
      </f7-nav-left>
      <!-- <f7-nav-left><f7-link href="#" class="back" ><f7-icon f7="chevron_left" size="24px" color="black"></f7-icon></f7-link></f7-nav-left> -->
      <f7-nav-title>
        <f7-link link="/" class="cheesecake-logo">
          <i class="cheesecake-nav-logo"></i>
        </f7-link>
      </f7-nav-title>
      <f7-nav-right>
        <f7-link sheet-open=".product-cart-sheet">
          <span class="cart-badge">{{ cartItemsQuantity }}</span>
          <f7-icon f7="cart" size="26px" color="black"></f7-icon>
        </f7-link>
      </f7-nav-right>
    </f7-navbar>
    <popup-cart></popup-cart>
  </div>
</template>

<script>
import PopupCart from "../components/popup-cart";
export default {
  name: "nav-bar",
  props: {
    currentRoute: {
      type: String,
    },
  },
  components: {
    PopupCart,
  },
  data() {
    return {};
  },
  created() {},
  computed: {
    cartItemsQuantity() {
      return this.$store.getters.getCartItems.length ?? 0;
    },
  },
};
</script>

<style scoped>
</style>