<!-- Popup -->
<f7-popup id="my-popup">
	<f7-view>
		<f7-page>
			<f7-navbar title="Popup">
				<f7-nav-right>
					<f7-link popup-close>Close</f7-link>
				</f7-nav-right>
			</f7-navbar>
			<f7-block>
				<p>Popup content goes here.</p>
			</f7-block>
		</f7-page>
	</f7-view>
</f7-popup>

<script>
    export default {
        data(){
            return {
                
            }
        },
        methods: {

        },
        created() {

        },
    }
</script>
<style>
</style>