<template>
<!-- Category poi sheet = Swipe to close sheet -->
<f7-sheet class="popup-flavors-sheet" style="height:auto; --f7-sheet-bg-color: #fff;" swipe-to-close :backdrop="true" ref="flavorsPopup">
    <f7-page-content class="flavors-section">
        <f7-block-title large class="flavors-title">Select Flavors</f7-block-title>

        <f7-block class="m-0 flavors-add-section">
            <!-- loop flavors fiuld add -->
            <div class="flavors-dynamic" v-for="(sf,index) in selectedFlavors" :key="index">
                <f7-row>
                    <f7-col width="50">
                        <f7-list no-hairlines-md class="m-0">
                            <f7-list-input outline label="Select Flavor" floating-label type="select" :value="selectedFlavors[index].flavor_name" @input="selectedFlavors[index].flavor_name=$event.target.value" placeholder="Please choose...">
                                <option v-for="(f,index) in flavors" :key="index" :value="f.flavor_name">{{ f.flavor_name }}</option>
                            </f7-list-input>
                        </f7-list>
                    </f7-col>
                    <f7-col width="30">
                        <f7-list no-hairlines-md class="m-0">
                            <f7-list-input outline label="Qty" floating-label type="number" :value="selectedFlavors[index].flavor_qty" @input="selectedFlavors[index].flavor_qty=$event.target.value" clear-button></f7-list-input>
                        </f7-list>
                    </f7-col>
                    <f7-col width="20">
                        <f7-list no-hairlines-md class="m-0">
                            <f7-button fill color="red" class="app-flavors" @click="removeFlavor(index)">
                                <f7-icon f7="minus" size="24px"></f7-icon>
                            </f7-button>
                        </f7-list>
                    </f7-col>
                </f7-row>
            </div>
        </f7-block>

        <f7-block class="my-1">
            <hr />
            <f7-segmented strong tag="div" class="add-dynamic-flavors">
                <span>
                    Click
                    <b>Plus</b> icon for your Flavors
                </span>
                <f7-button fill large color="green" class="app-flavors" @click="addFlavor">
                    <f7-icon f7="plus" size="24px"></f7-icon>
                </f7-button>
            </f7-segmented>
        </f7-block>

        <f7-block inset class="p-0 mt-1">
            <f7-list class="m-0 your-package">
                <f7-list-item header="Your Package" title="Your selected pack" :badge="packageQty+' Pack'"></f7-list-item>
            </f7-list>
            <f7-button fill large color="green" @click="validateAndConfirmFlavors">Confirm</f7-button>
        </f7-block>
    </f7-page-content>
</f7-sheet>
</template>

<script>
export default {
    name: "popup-flavors",
    props: {
        flavors: {
            type: Array
        },
        packageQty: {
            type: Number,
        }
    },
    data() {
        return {
            selectedFlavors: [{
                flavor_name: "",
                flavor_qty: ""
            }]
        };
    },
    methods: {
        invalidFlavorEntry() {
            let invalidFlavorEntry = this.selectedFlavors.find(sf => {
                return (
                    sf.flavor_name == "" || sf.flavor_qty == "" || sf.flavor_qty == 0
                );
            });
            return invalidFlavorEntry;
        },
        getalreadySelectPackageQty() {
            let alreadySelectPackageQty = 0;

            alreadySelectPackageQty = Object.values(this.selectedFlavors).reduce((t, {
                flavor_qty
            }) => Number.parseInt(t) + Number.parseInt(flavor_qty), 0);
            return alreadySelectPackageQty;
        },
        addFlavor() {

            if (this.invalidFlavorEntry()) {
                this.$f7.dialog.alert("You have not selected flavor or inserted qty");
            } else if (this.packageQty === this.getalreadySelectPackageQty()) {
                this.$f7.dialog.alert("You have already selected required packages");
            } else {
                this.selectedFlavors.push({
                    flavor_name: "",
                    flavor_qty: ""
                });
            }
        },
        removeFlavor(index) {
            if (this.selectedFlavors.length > 1) {
                this.selectedFlavors.splice(index, 1);
            }
        },
        validateAndConfirmFlavors() {

            if (this.packageQty != this.getalreadySelectPackageQty()) {
                this.$f7.dialog.alert("Your prefered package qty is " + this.packageQty + " and you have inserted qty is " + this.getalreadySelectPackageQty());
                return false;
            }
            if (this.invalidFlavorEntry()) {
                this.$f7.dialog.alert("You have not selected flavor or inserted qty");
                return false;
            }
            this.$emit('flavorConfirmed', this.selectedFlavors);
            this.$refs.flavorsPopup.close();
        },
    },
    created() {}
};
</script>

<style>
.add-dynamic-flavors {
    display: block;
    border: 1px solid #acacac;
}

.add-dynamic-flavors span {
    padding: 0 12px;
    display: block;
    float: left;
    line-height: 36px;
}

.add-dynamic-flavors .app-flavors {
    width: 36px !important;
    height: 36px;
    float: right;
    padding: 0;
    line-height: 34px;
}
</style>
