<template>
<!-- Product Cart Sheet = Swipe to close sheet -->
<f7-sheet class="product-cart-sheet" style="height:auto; --f7-sheet-bg-color: #fff;" swipe-to-close swipe-to-step :backdrop='true'>
    <f7-page-content class="popupCart">
        <!-- Initial swipe step sheet content -->
        <div class="sheet-modal-swipe-step">
            <div class="display-flex padding justify-content-space-between align-items-center popup-total">
                <div style="font-size: 22px"><b>Total:</b></div>
                <div class="totla-amount">
                    <!--		<span class="discount-percentage f-12">10%</span>-->
                    <b class="total-price">{{ $store.getters.getCartTotal|currencyFormat }}</b>
                    <small class="f-12 discount-price">Discount:{{ $store.getters.getCartDiscount|currencyFormat }}</small>
                </div>
            </div>

            <discount-and-delivery-charge-vue></discount-and-delivery-charge-vue>

            <div class="padding">
                <f7-row>
                    <f7-col>
                        <f7-button href="/cart-view/" large fill sheet-close>View cart</f7-button>
                    </f7-col>
                    <f7-col>
                        <f7-button href="/checkout/" large fill color="green" sheet-close :disabled=!$store.getters.getCartTotal>Checkout</f7-button>
                    </f7-col>
                </f7-row>
            </div>
        </div>
        <f7-block-title class="fw-3 mt-0">Swipe left to delete your items</f7-block-title>
        <f7-block strong inset class="box-shadow mb-2">
            <!--this componenet is to list cart items-->
            <cart-row :row-numbers="2"></cart-row>
            <f7-link href="/cart-view/" sheet-close>More product items</f7-link>
        </f7-block>
        <!-- Tax shipping address -->
        <f7-block-footer>
            <p>Actual tax amount depends on your shipping address</p>
        </f7-block-footer>
    </f7-page-content>

</f7-sheet>
</template>

<script>
import CartRow from '../components/cart-row';
import DiscountAndDeliveryChargeVue from './discount-and-delivery-charge.vue';

export default {
    data: function () {
        return {

        }
    },
    components: {
        CartRow,
        DiscountAndDeliveryChargeVue,
    },
    methods: {

    },
    created() {

    },
}
</script>

<style>
.popupCart .popup-total {}

.popupCart .totla-amount .total-price {
    font-size: 22px;
}

.popupCart .totla-amount {
    position: relative;
    width: 120px;
    line-height: 16px;
    text-align: right;
}

.popupCart .discount-percentage {
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 0 4px;
    border-radius: 4px;
}

.discount-code .item-input .item-inner {
    padding-bottom: 0;
}

.homeDelivery .item-after>span {
    margin-right: 10px;
}

.ios .homeDelivery .item-after>span {
    padding-top: 6px;
}

.popup-pridyct-list ul:after,
.popup-pridyct-list ul:before {
    background: #c9c9c9;
    background-color: #c9c9c9;
}

.popup-pridyct-list .item-text {
    line-height: 13px;
}

.popup-pridyct-list .item-inner .item-footer {
    margin-top: 6px;
}
</style>
