<template>
  <div class="padding">
    <div class="product-discreptions f-12">{{ productDetails.product_description }}</div>
    <f7-chip :text="productDetails.flavors[0].flavor_name" media-bg-color="red">
      <f7-icon slot="media" ios="f7:f_cursive" aurora="f7:f_cursive" md="material:f_cursive"></f7-icon>
    </f7-chip>
    <f7-row>
      <f7-col>
        <span class="f-18 producr-price">
          Price:
          <b>${{ productDetails.product_price }}</b>
        </span>
      </f7-col>
      <f7-col>
        <f7-button raised fill large color="green" @click="addToCart">Add to Bag</f7-button>
      </f7-col>
    </f7-row>
  </div>
</template>

<script>
export default {
  name: "whole-cake-details",
  props: {
    productDetails: {
      type: Object
    }
  },
  data() {
    return {
      cartItems:[],
    };
  },
  methods:{
    addToCart(){
      this.cartItems={
        productDetails:this.productDetails,
        quantity:1,
        price:Number.parseFloat(this.productDetails.product_price),
        selectedFlavors:[{
          flavor_name:this.productDetails.flavors[0].flavor_name,
          flavor_qty:1
        }]
      };
      this.$store.commit('ADD_TO_CART',this.cartItems);
      this.$f7router.navigate('/cart-view/');
    }
  }
};
</script>