<template>
   <div class="alert alert-success  fade show"  role="alert" v-if="message">
        {{ message }}
    </div>
</template>

<script>
    export default {
        name:'flash-message',
        props:{
            message:[String,Boolean],
        },
    }
</script>
