<template>
  <div class="card mb-3">
    <div class="card-header">
      <div class="d-sm-flex align-items-center justify-content-between">
        <button @click.prevent="cncelAll" class="btn btn-danger btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-times"></i>
          </span>
          <span class="text d-none d-sm-block">Cancel</span>
        </button>
        <span>{{ selectedFiles.length }} Files Selected</span>
        <label href="#" class="btn btn-success btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text d-none d-sm-block">Add More</span>
          <input type="file" style="display: none" @change="selectFile" multiple />
        </label>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Loop -->
        <div class="col-sm-6 col-md-4 col-lg-3" v-for="(file,index) in selectedFiles" :key="index">
          <div class="card position-relative mb-3">
            <div class="position-absolute upload-image-delete">
              <button @click.prevent="removeFile(index)" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <img :src="file.fileUrl" class="card-img-top img-fluid" alt="..." />
            <div class="card-body p-3">
              <h5 class="card-title mb-1 text-truncate">{{ file.name }}</h5>
              <p class="card-text">{{ file.size/1000 }}Kb</p>
            </div>
          </div>
        </div>
        <!-- End Loop -->
      </div>
    </div>
    <div class="card-footer text-muted">
      <label href="#" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-cloud-upload-alt"></i>
        </span>
        <span class="text">
          Upload File
          <span class="badge badge-light">{{ selectedFiles.length }}</span>
        </span>
        <input type="file"  style="display: none" @change="selectFile" multiple />
      </label>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedFiles: [],
      files: []
    };
  },
  methods: {
    selectFile(event) {
      this.files = event.target.files;
      let images = [];
      // this.selectedFiles=(this.selectedFiles,...files);
      for (var i = 0; i < this.files.length; i++) {
        this.selectedFiles.push({
          name: this.files[i].name,
          size: this.files[i].size,
          type: this.files[i].type,
          lastModifiedDate: this.files[i].lastModifiedDate,
          fileUrl: URL.createObjectURL(this.files[i])
        });
      }

      this.$emit("fileSelected", this.files);
    },
    removeFile(index) {
      this.selectedFiles.splice(index, 1);
      this.files.splice(index, 1);
    },
    cncelAll() {
      this.selectedFiles = [];
      this.files = [];
    }
  }
};
</script>

<style scoped>
.upload-image-delete {
  top: -10px;
  right: -10px;
}
</style>
