<template>
    <div class="vue-component-wrapper" id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div v-if="showLoader" class="loader-fullpage">
                    <div class="loader"></div>
                </div>
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<script>
import TopNavBar from './components/layouts/TopNavBar';
import SideNavBar from './components/layouts/SideNavBar';
import Footer from './components/layouts/Footer';
import Vue from "vue";
    export default {
        name:'App',
        data(){
            return {
                routerViewKey: 0,
                // showLoader:Vue.prototype.$showLoader,
            }
        },
        components: {
            TopNavBar,
            SideNavBar,
            Footer,
        },
        methods: {
            refreshRouterView(){
                this.routerViewKey += 1;
            }
        },
        created() {
            // console.log(this.$showLoader);
            this.$root.$on('refreshRouterView', this.refreshRouterView);

        },
        destroyed() {
            this.$root.$off('refreshRouterView', this.refreshRouterView)
        },
        computed:{
            showLoader(){
                return this.$store.getters.showLoader;
            }
        }
    }
</script>
