<template>
    <div>
    <PageHeader page-titile="Orders" page-sub-title="List of placed orders" />
    <div class="container-fluid mt-n10">
     <div class="pages-contents">
				<div class="row">
					<div class="col-md-8 mb-4">
						<div class="card mb-4">
							<div class="card-header">
								<div class="d-sm-flex align-items-center justify-content-between">
									<h1 class="h4 mb-0 font-weight-bold text-black">Order No: #{{ order.id }}</h1>
									<span class="d-flex align-items-center">
										Payment Status
										<div class="bg-success px-3 py-1 badge-pill ml-3 text-white">{{ order.payment_status==null?'N/A':order.payment_status }}</div>
									</span>
								</div>
							</div>
							<div class="card-body">
								<div class="on-delivery">
									<div class="table-responsive">
										<table class="table table-bordered table-hover" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th width="70%">Product Name & Flavors</th>
													<th width="30%">Product Type</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														Product Name<br>
														<span class="badge badge-secondary badge-pill">
															Flaver name one <span class="badge badge-pill badge-danger">2</span>
														</span>
														<span class="badge badge-secondary badge-pill">Flaver name Two <span class="badge badge-pill badge-danger">1</span></span>
													</td>
													<td>Cheesecake Cupcake</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="card bg-warning border-0 mb-3">
							<div class="card-body">
								<h5 class="text-white">Your Bill</h5>
								<div class="m-0 text-white">
									<div class="d-flex justify-content-between align-items-center">
										<div class="lead">Subtotal</div>
										<div class="lead"><b>$10.00</b></div>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div>Discount</div>
										<div><b>- $10.00</b></div>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div>Tax</div>
										<div><b>0.00</b></div>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div>Delivery charge</div>
										<div><b>+ $10.00</b></div>
									</div>
								</div>
							</div>
							<div class="card-footer d-flex align-items-center justify-content-between bg-transparent text-white">
								<span class="h4 m-0">Total</span>
								<span class="h4 m-0">$10.00</span>
							</div>
						</div>

					</div>
					<div class="col-md-4 mb-4">
						<div class="card bg-success border-0 mb-3">
							<div class="card-body">
								<h5 class="text-white"><i class="fas fa-box"></i> Pickup or Delivery Address</h5>
								<div class="m-0">
									<address class="text-white">
										<strong>Address text here</strong><br>
										P.O. Box 1355<br>
										City name, Country name<br> <b>Phone</b> +000-000-0000
									</address>
									<span class="text-white mr-2"><strong>Order Status</strong> </span>
									<span class="bg-warning badge-pill px-4 py-1 text-white">Pending</span>
								</div>
							</div>
							<div class="card-footer d-flex align-items-center justify-content-between bg-transparent text-white">
								<span class="lead m-0">May 12, 2020, 11:00 PM</span>
							</div>
						</div>
						<div class="card bg-primary o-visible mb-4">
							<div class="card-body">
								<h4 class="text-white">Download Invoice</h4>
								<p class="text-white">You can download invoice by For Print.</p>
								<img class="float-left" src="images/drawkit-developer-woman-flush.svg" style="width: 8rem; margin-left: -2.5rem; margin-bottom: -5.5rem;">
							</div>
							<div class="card-footer bg-transparent pt-0 border-0 text-right"><a href="#" class="btn btn-light shadow-sm"><i class="fas fa-download fa-sm"></i> Download Invoice</a></div>
						</div>
						
					</div>
				</div>
	 </div>
    </div>

    </div>
</template>

<script>
import PageHeader from "../../layouts/PageHeader";
export default {
    name: "order-details",
    components: {
        PageHeader,
    },
    data() {
        return {
          order:[],
        };
    },
    created() {
       this.getOrderDetail(this.$route.params.orderId);
    },
    methods: {
       
        getOrderDetail(orderId){
            axios
                .get('/api/v1/orders/'+orderId)
                .then(response=>{
                    this.order=response.data;
                })
                .catch(error=>{
                    console.log(error);
                });
        },
    },

};
</script>

<style scoped>
</style>
