<template>
    <div>
        <PageHeader page-titile="Orders" page-sub-title="List of placed orders" />
        <div class="container-fluid mt-n10">
            <!-- Content Row -->
            <div class="pages-contents">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card mb-4">
                            <div class="card-header h4">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h1 class="h4 mb-0 font-weight-bold text-black">All Orders</h1>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="on-delivery">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label class="h5 mt-1">
                                                Total Orders:
                                                <strong>{{ orders.length }}</strong>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="form-control">
                                                <option hidden>Filter by order type</option>
                                                <option value="all">All</option>
                                                <option value="whole">Whole Cheesecake</option>
                                                <option value="cup">Cheesecake Cupcake</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table
                                            class="table table-bordered table-hover"
                                            id="dataTable"
                                            width="100%"
                                            cellspacing="0"
                                        >
                                            <thead>
                                            <tr>
                                                <th width="10%">Order Number</th>
                                                <th width="10%">Transaction ID</th>
                                                <th width="10%">Delivery Date</th>
                                                <th width="10%">Pickup Date</th>
                                                <th width="5%">Amount</th>
                                                <th width="10%">Payment Status</th>
                                                <th width="15%">Order Status</th>
                                                <th width="10%">Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-if="orderLoading">
                                                <td colspan="6" align="center">
                                                    <div class="spinner-border text-success" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr v-for="(order,index) in orders" :key="index">
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.transaction_id }}</td>
                                                <td>{{ order.delivery_date }}</td>
                                                <td>{{ order.pickup_date }}</td>
                                                <td>${{ order.order_amount.toFixed(2) }}</td>
                                                <td>{{ order.payment_status }}</td>
                                                <td>
                                                    <select class="form-control" v-model="order.order_status" @change="orderStatusChange(order.id,$event)">
                                                        <option value="null">Select Status</option>
                                                        <option value="Processing">Processing</option>
                                                        <option value="Delivered">Delivered</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button
                                                        class="btn btn-outline-primary btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Edit Order"
                                                        @click="openOrderUpdateModal(order)"
                                                    >
                                                        <i class="far fa-edit"></i>
                                                    </button
>
                                                    <button
                                                        class="btn btn-outline-danger btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Delete Product"
                                                        @click="deleteOrder(order.id,index)"
                                                    >
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                     <a
                                                        :href="`/app_backend/orders/details/${order.id}`"
                                                        class="btn btn-outline-primary btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Order Details"
                                                        >
                                                        <i class="fa fa-list" aria-hidden="true"></i>
                                                    </a>
                                                    
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <modal name="order-edit-modal">
                    <div class="card">
                        <div class="card-header">Update Order Number: {{ orderToUpdate.id }}</div>
                        <div class="card-body">
                           <div class="form-group">
                               <div class="row">
                                    <div class="col-md-3">
                                        <label>Delivery Date</label>
                                    </div>
                                   <div class="col-md-6">
                                       <datetime
                                           v-model="orderToUpdate.delivery_date"
                                           @change="test()"
                                           input-class="form-control"
                                       ></datetime>
                                   </div>
                               </div>
                               <hr/>
                               <div class="row">
                                   <div class="col-md-3">
                                       <label>Pickup Date</label>
                                   </div>
                                   <div class="col-md-6">
                                       <datetime
                                           v-model="orderToUpdate.pickup_date"

                                           input-class="form-control"
                                           @change="test()"
                                       ></datetime>
                                   </div>
                               </div>
                           </div>
                            <button class="btn btn-success btn-sm">Update</button>
                        </div>
                    </div>
                </modal>
            </div>
        </div>

    </div>
</template>

<script>
import PageHeader from "../../layouts/PageHeader";
import { Datetime } from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
export default {
    name: "OrderList",
    components: {
        PageHeader,
        datetime: Datetime,
    },
    data() {
        return {
            orders:[],
            orderLoading: false,
            orderToUpdate:[],
        };
    },
    created() {
        this.loadOrders();

    },
    methods: {
        test(){
          console.log('sdasdsa');
        },
        loadOrders(){
            this.orderLoading=true;
            axios
                .get('/api/v1/orders')
                .then(response=>{
                    this.orderLoading=false;
                    this.orders=response.data;
                })
                .catch(error=>{
                    console.log(error);
                });
        },
        deleteOrder(orderId,index){
            this.$helpers.confirmDelete(()=>{
                axios
                    .delete('/api/v1/orders/'+orderId)
                    .then(response=>{
                        this.orders.splice(index,1);
                        this.$helpers.showAlert("Deleted successfully",response.data,"success");
                    })
                    .catch(error=>{
                        if(typeof error.response.data!=='undefined'){
                            this.$helpers.showAlert("Can not be deleted",error.response.data,"error");
                        }
                        console.log(error.response);
                    });
            });
        },
        orderStatusChange(orderId,$event){
            axios
                .put('/api/v1/orders/'+orderId,{
                    order_status:$event.target.value,
                    update_type:'update_order_status',
                })
                .then(response=>{
                    this.$helpers.showAlert("Updated successfully",response.data,"success");

                    this.$store.dispatch('getTotalPendingOrders');
                    console.log(response);
                })
                .catch(error=>{
                    console.log(error);
                });
        },
        openOrderUpdateModal(order){
            this.orderToUpdate= {...order};
            this.$modal.show('order-edit-modal');
        }
    },

};
</script>

<style scoped>
</style>
